body {
  padding-top: 50px;
}

.div-game {
  padding: 40px 15px;
  text-align: center;
}

.table-game {
    margin-left: auto;
    margin-right: auto;
}

.span-game-grid {
    text-align:center;
    display:inline-block;
}

.btn-game {
    float: left;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.clear-left {
    clear: left;
}
