.square {
    width: 50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}
.top {
    border-right: white solid 1px;
}
.middle {
    border-right: white solid 1px;
    top: 51px;
    left: -153px;
}
.bottom {
    border-right: white solid 1px;
    top: 102px;
    left: -306px;
}
.x {
    background-image: url('../x.png');
}
.o {
    background-image: url('../o.png');
}
#options {
    position: relative;
    top: 200px;
    float: left;
}
a {
    font-size: 49px;
    text-align: center;
    width: 100%;
}
body {
    margin: 0;
}
#startgame {
    color: #283744;  
    display: inline-block;  
    width: auto;  
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;
    font-size: 11pt;
    padding: 0 5px 0 5px;
}
a:hover, a:active {  
    background-color: #8c99a4;  
} 