body {
  padding-top: 50px;
  background-color: #bbb;
}

.div-game {
  padding: 40px 15px;
  text-align: center;
}

.table-game {
    margin-left: auto;
    margin-right: auto;
}

.span-game-grid {
    text-align:center;
    display:inline-block;
}

.btn-game {
    float: left;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.btn-computer {
    background-color: #FFF;
    background-image:url('../img/x.png');
}

.btn-player {
    background-color: #FFF;
    background-image:url('../img/o.png');
}

.clear-left {
    clear: left;
}

.modal-gameend .modal-dialog {
    width: 250px;
    margin-top: 450px;
}
