html,body {
    width: 100%;
    font-family: Verdana arial sans-serif;
    line-height: 16px;
    background-color: #061633;
    color: white;
}
.wrapper {
    width: 100%;
    height: 48em;
}

.homecontainer {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    height: 5em;
    width: 20%;
    border: 1px solid black;
    box-shadow: .5em .25em .5em gray;
}

.PC {
    background-color: yellow;
}

.NPC {
    background-color: blue;
}

#board {
    height: 15em;
    width: 240px;
    margin-left: 350px;
    margin-top: 2em;
    padding: 1em;
    border: 2px groove darkorange;
}

.player {
    height: 5em;
    border: 1px solid black;
    width: 25%;
    margin-top: 1em;
    margin-left: 12.5%;
    background-color: red;
    box-shadow: .5em .25em .5em gray;
}

#NPC.field {
    color: blue;
}

#PC.field {
    color: yellow;
}

.cell {
    display: inline-block;
    height: 76px;
    margin: 0;
    padding: 0;
    width: 76px;
    border: 1px solid orange;
}

.cell-tl {
    border-left: none;
    border-top: none;
}

.cell-tr {
    border-top: none;
    border-right: none;
}

.cell-tm {
    border-top: none;
    margin: 0 2px;
}

.cell-ml {
    border-left: none;
}

.cell-mr {
    border-right: none;
}

.cell-mm {
    margin: 0 2px;
}

.cell-bl {
    border-left: none;
    border-bottom: none;
}

.cell-br {
    border-bottom: none;
    border-right: none;
}

.cell-bm {
    border-bottom: none;
    margin: 0 2px;
}

.input {
    margin-left: 16px;
}

.input-container {
    margin: .1em 0 0 1%;
}

.field {
    padding: 1em 0 0 5em;
    font-size: 2em;
}

.current {
    background-color: green;
}

.winner {
    text-shadow: 1.3em 1.5em .07em blue, -1.3em -1.5em .07em blue;
    border: 2px dotted orangered;
}