html,body {
    width: 100%;
    font-family: Verdana arial sans-serif;
    line-height: 16px;
}
.wrapper {
    width: 100%;
    height: 48em;
}

.PC {
    background-color: yellow;
}

.NPC {
    background-color: blue;
}

#board {
    height: 15em;
    width: 240px;
    margin-left: 350px;
    margin-top: 2em;
}

.player {
    height: 2em;
    border: 1px solid black;
    width: 25%;
    margin-left: 12.5%;
    background-color: red;
}

.cell {
    display: inline-block;
    height: 76px;
    margin: 0;
    padding: 0;
    width: 76px;
    border: 1px solid orange;
}

.cell-tl {
    border-left: none;
    border-top: none;
}

.cell-tr {
    border-top: none;
    border-right: none;
}

.cell-tm {
    border-top: none;
    margin: 0 2px;
}

.cell-ml {
    border-left: none;
}

.cell-mr {
    border-right: none;
}

.cell-mm {
    margin: 0 2px;
}

.cell-bl {
    border-left: none;
    border-bottom: none;
}

.cell-br {
    border-bottom: none;
    border-right: none;
}

.cell-bm {
    border-bottom: none;
    margin: 0 2px;
}

.input {
    margin-left: 16px;
}

.input-container {
    margin: .1em 0 0 1%;
}

.field {
    padding: .4em 0 0 7em;
}

.current {
    background-color: green;
}