body{ background:black;} 

a {color:white;}

div {font-size:2.5em;text-align:center;text-shadow:3px 2px 2px gray;font-family: 'Sans';}

#wrap {width:475px;height:475px;margin-left:auto;margin-right:auto;}

div.tictac, div.hulk,div.foozie {background:white;width:150px;height:150px;border:3px solid black;float:left; }
		 
div.hulk { background-image:url(../img/hulk.jpg);background-repeat:no-repeat;background-size:0%;}

div.win{border: 3px solid lime;}
					
div.foozie { background-image:url(../img/foozie.jpg);background-repeat:no-repeat;background-size:0%;}

#newgame{width:465px; margin-left:auto; margin-right:auto;margin-top:27px;}
