{% extends "game/base.html" %}

{% block javascript %}
  $(document).ready(function() {
    var human_turn = false;
    var next_marker = "X";
    
    // Human player clicks on button to choose first player
    $("input.player").click(function() {
      human_turn = ($(this).attr('name') == "human");
      $("#first_player").hide();
      
      if (!human_turn) {
        // computer goes first
        computerTurn();
      }
    });
    
    // Reset button clicked
    $("input[name='reset']").click(function() {
      next_marker = "X";
      $("#board").find('td').each(function() {
        $(this).html(" ");
      });
      $("#first_player").show();
      $("#reset").hide();
    });
    
    // Human player clicks on cell
    $("td").click(function() {     
      if (human_turn && $(this).html() == " ") {
        human_turn = false;
        $(this).html(next_marker);
        
        $.ajax({
          url: '{% url game-human-move %}',
          data: buildArray(next_marker),
          success: function(data, textStatus, jqXHR) {
            if (data.is_winner) {
              gameOver("You Win!");
            } else {
              next_marker = next_marker == "X" ? "O" : "X";
              computerTurn();
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });
      }
    });
    
    // Computer player turn
    function computerTurn() {
      // show progress indicator

      $.ajax({
        url: '{% url game-computer-move %}',
        data: buildArray(next_marker),
        success: function(data, textStatus, jqXHR) {
          // hide progress indicator
          $("td").eq(data.position).html(next_marker);
          if (data.is_draw)
            gameOver("Draw!");
          else if (data.is_winner)
            gameOver("Computer Wins!");
          else {
            human_turn = true;
            next_marker = next_marker == "X" ? "O" : "X";
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert(errorThrown);
        },
      });
    }
    
    // Build array from game board
    function buildArray(marker) {
      var arr = new Array();
      var board = {};
      $("#board").find('td').each(function() {
        arr.push($(this).html());
      });
      $.each(arr, function(index, value) {
        board[index] = value;
      });
      board['mark'] = marker;
      return board;
    }
    
    function gameOver(message) {
      alert(message);
      $("#reset").show();
    }
    
  });
{% endblock %}

{% block content %}
  <div id="first_player">
    <input type="button" value="I Will Go First" name="human" class="player" />
    <input type="button" value="Computer Will Go First" name="computer" class="player" />
  </div>
  <div id="reset">
    <input type="button" value="Play Again" name="reset" />
  </div>
  <div id="board">
    <table>
      <tr class="row1">
        <td class="col1"> </td>
        <td class="col2"> </td>
        <td class="col3"> </td>
      </tr>
      <tr class="row2">
        <td class="col1"> </td>
        <td class="col2"> </td>
        <td class="col3"> </td>
      </tr>
      <tr class="row3">
        <td class="col1"> </td>
        <td class="col2"> </td>
        <td class="col3"> </td>
      </tr>
    </table>
  </div>
{% endblock %}
