<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	{%load staticfiles %}
	{% load filter_utils %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title> Tic Tac Toe game </title> 
		<script src="{% static "js/tictactoe.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/tictactoe.css" %}" />
	</head>
	<body>
	<center>
	<form name="game">
	{% csrf_token %}
		<table border=1>
		<tr>
			{% for i in 9|get_range %}
				<td><img src="{% static "images/blank.jpg" %}" class="tic_slot" id="{{i|add:97|get_char}}"  ></td>
				{% ifequal forloop.counter|modulo:3 0 %}
					</tr>
					{% ifnotequal i 8 %}
					<tr>
					{% endifnotequal %}
				{% endifequal %}
		{% endfor %}
		</table>
	<input type=button value="Play Again" onClick="clean();">
	</form>
	</center>
	</body>
</html>