{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}" />

<h1>Let's play Tic-Tac-Toe!</h1>

<div class="game_board">
    <div class="cell upper left"></div>
    <div class="cell upper center"></div>
    <div class="cell upper right"></div>
    <div class="clear"></div>
    <div class="cell middle left"></div>
    <div class="cell middle center"></div>
    <div class="cell middle right"></div>
    <div class="cell lower left"></div>
    <div class="cell lower center"></div>
    <div class="cell lower right"></div>
</div>
