{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tic_tac_toe/style.css' %}" />

<h1>Let's play Tic-Tac-Toe!</h1>

<div class="game_board">
{% for cell in upper_row %}
    <div class="cell upper {{ cell.position }}" id="{{ cell.index }}">{{ cell.value }}</div>
{% endfor %}
{% for cell in middle_row %}
    <div class="cell middle {{ cell.position }}" id="{{ cell.index }}">{{ cell.value }}</div>
{% endfor %}
{% for cell in bottom_row %}
    <div class="cell lower {{ cell.position }}" id="{{ cell.index }}">{{ cell.value }}</div>
{% endfor %}
</div>
