.row div{
	display: inline-block;
	border: solid 1px #000;
	width:150px;
	height:150px;
}

#waiting{
	width: 16px;
	height: 16px;
	background-image: url(/tictactoe/media/images/waiting.gif);
	position:absolute;
}

#game_over{
	display:none;
	position:absolute;
}

#board{
	margin-top:20px;
}

.first_move{
	cursor:pointer;
}