{% extends "coxtactoe/base.html" %}
{% load staticfiles %}

{% block body %}
<body>
  <nav>
    <div id="form-container">
      <hr class="orange">
      <hr class="green">
      <form id="xo-choice-form" {% block form_action %}{% endblock %} method="post">
        {% csrf_token %}
        <h1 class="logo-text">
          <span>C</span><button type="submit" id="o" name="xo_choice" value="o"><img src="{% static 'img/o.png' %}" alt="O"></button><button type="submit" id="x" name="xo_choice" value="x"><img src="{% static 'img/x.png' %}" alt="X"></button><span>TACTOE</span>
        </h1>
      </form>
      <hr class="green">
      <hr class="orange">

      {% block msg_area %}
      <p>Pick X or O above to play</p>
      {% endblock %}

    </div>
  </nav>
  {% block ng_controller %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% endblock %}
  {% block scripts %}{% endblock %}

</body>
{% endblock %}