lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.gradle
.project
vendor
gradlew.bat
gradlew
pids
logs
results
build
karma
gradle
bower_components
.settings
.classpath
.tern-project
node_modules
build
bin
.DS_Store
thumbs.db
*.log
