/* style.css
   Created: December 15, 2010
   Purpose: Make the tic tac toe board so appealing that you'd consider going on a date with it.*/
body {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

.titlehead {
	text-align: center;
} 

table.tictactoe {
	width: 550px;
	height: 550px;

}
	/*The next two elements disable selecting text on the game board in Webkit and Mozilla-based browsers. This was done because accidentally selecting text in game is kind of annoying and things don't look near as nice when a selection occurs.*/
::selection {
	background: transparent;
}

::-moz-selection { 
	background: transparent; 
}

td {
	text-align: center;
	font-size: 50px;
	width: 33%;
	height: 33%;
}

td:hover {
	background-color: #f5f5f5;
}

td.vert {
	border-right: 2px solid black;
}

td.bottom {
	border-bottom: 2px solid black;
}