<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<h2>//SO CLOSE!</h2>
<p>Dear {{ first_name }},<br />
With your smarts, you're probably going to invent the Internet.</p>

<p>I know that you might be thinking, <em>I hate this game, and the people
that made it.</em>  What you should be thinking is, <em>how can I thank
the geniuses behind this fabulous product?</em></p>

<p>
    <b>Well, we're glad you asked!</b>  Go share your joy on our Facebook
    page (
    <a href="https://www.facebook.com/RGamesR2Smart4U">
        www.facebook.com/RGamesR2Smart4U
    </a>).  It's guaranteed to make you feel better than a polar bear trapped
in Texas on the 4th of July.</p>

<p>As always, please feel free to e-mail me at
<a href="mailto:mike@eikonomega.com">
grand-chiefain-of-the-moose-people@RGamesR2Smart4U.com</a> with any questions
or suggestions for improving the site.</p>

All the best,<br />
Mike Dunn<br />
Grand Chieftain
</body>
</html>