<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<h2>//REGISTRATION COMPLETE</h2>
<p>Dear {{ first_name }},<br />
Welcome to today's hottest gaming community!</p>

<p>Our goal is simple.  To create games that no one can win. EVER.</p>

<p>If you have not already done so, I would encourage you to
    <a>visit our site right</a>
now and lose a few rounds.  It's scientifically proven to increase your bone
density.<br /><small>Results may vary.  Most common side affects include
    diarrhea, constipation, uncontrollable gas, brain hemorrhage, death,
    something worse than death, being forced to work on Microsoft or Oracle
        technology, and the giggles.</small></p>

<p>
    We hope that you'll visit our Facebook community at
    <a href="https://www.facebook.com/RGamesR2Smart4U">
        www.facebook.com/RGamesR2Smart4U
    </a>

    sometime soon. Following tplayer_registration.htmlhe page is the best way to stay up to date with
    who's losing the most, the least, and who's too afraid to try.</p>

<p>Please feel free to e-mail me at <a href="mailto:mike@eikonomega.com">
grand-chiefain-of-the-moose-people@RGamesR2Smart4U.com</a> with any questions
or suggestions for improving the site.</p>

All the best,<br />
Mike Dunn<br />
Grand Chieftain
</body>
</html>