<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<h2>//OH SNAP</h2>
<p>Dear {{ first_name }},<br />
It looks like someone set you up the bomb!</p>

<p>You lost you're last game of Tic-Tac-Toe.  Don't feel bad.  It's the same
for everyone and your bone density rating is probably improving right
this very minute.</p>

<p>We sincerely hope that you're latest loss hasn't caused any negative side
affects.  <small>(FDA Required Statement: Some users have reported diarrhea,
constipation, uncontrollable gas, brain hemorrhage, death,
something worse than death, being forced to work on Microsoft or Oracle
technology, and the giggles.)</small></p>

<p>
    Whatever the case, we hope that you'll share your experience with us on
    our Facebook page(
    <a href="https://www.facebook.com/RGamesR2Smart4U">
        www.facebook.com/RGamesR2Smart4U
    </a>)

    sometime soon.</p>

<p>As always, please feel free to e-mail me at
<a href="mailto:mike@eikonomega.com">
grand-chiefain-of-the-moose-people@RGamesR2Smart4U.com</a> with any questions
or suggestions for improving the site.  I'm also very good at marriage
counseling.</p>

All the best,<br />
Mike Dunn<br />
Grand Chieftain
</body>
</html>