body {
  background-color: purple;
}

.board {
  height: 400px;
  width: 400px;
}

.board div {
  float: left;
  height: 133.333333px;
  width: 33.3333333333%;
  background-color: white;
  border: 3px solid green;
  text-align: center;
  font-size: 5em;
  cursor: pointer;
}
