{% extends "base.html" %}
{% block title %}Tic-Tac-Toe Demo{% endblock %}
{% block script %}



var interCharDelay = 20;
var betweenEl      = 600;

var txtgreeting1 = "GREETINGS PROFESSOR FALKEN";
var txtgreeting2 = "SHALL WE PLAY A GAME?";


var txtoption1   = "GLOBAL THERMONUCLEAR WAR";
var alert1       = "WINNER: NONE";

var txtoption2   = "TIC-TAC-TOE";
var alert2       = "YOUR MOVE";


var txtgamenames = {
                        "gtw" :       txtoption1,
                        "tictactoe" : txtoption2
                    };


var main         = null;
var greeting     = null;
var games        = {};
var gamenames    = {};

var greeting1    = null;
var greeting2    = null;
var opt1         = null;
var opt2         = null;
var menu1        = null;
var li1          = null;
var li2          = null;
var selectone    = null;

_temp              = '';

var gamemods          = {
        "gtw" :
            {
            'initGame'    : function(){
                var _result = dojo.byId("result-gtw");
                initializeScrollingElement(_result,alert1,interCharDelay);
                gamenames['gtw'].onEnd(_result.scrollText,700);

                var _return = dojo.byId("return-gtw");
                initializeScrollingElement(_return,"RETURN",interCharDelay);
                _result.onEnd(_return.scrollText,500);

            

                dojo.connect(_return,"onclick",
                             function(){
                                    
                                    removeGame("gtw");
                                    showGreeting();
                                    greetProfessorFalken();
                                    
                                });

                
                
            },
            'resetGame':function(){
                            gamenames['gtw'].innerHTML = '';
                            dojo.byId('result-gtw').innerHTML='';
                            dojo.byId('return-gtw').innerHTML='';
                            
                }
            
            
            },
            
        
        "tictactoe" :
            {
            'initGame'     : function(){
                var _yourmove = dojo.byId("yourmove-tictactoe");
                initializeScrollingElement(_yourmove,alert2,interCharDelay);
                gamenames['tictactoe'].onEnd(_yourmove.scrollText,betweenEl);
                dojo.fadeOut({node:'board-tictactoe'}).play();
                
                _yourmove.onEnd(function(){
                      dojo.fadeIn({node:'board-tictactoe',duration:1000}).play();
                });
            },
            'resetGame'    : function(){
                dojo.fadeOut({node:'board-tictactoe'});
            }
            }
};

var wipeGreeting   = function(){
    greeting1.innerHTML = '';
    greeting2.innerHTML = '';
    opt1.innerHTML      = '';
    opt2.innerHTML      = '';
    selectone.innerHTML = '';
    try{
    menu1.removeChild(li1);
    menu1.removeChild(li2);
    }catch(e){}
}
    
var showGreeting   = function(){
    try{
        
        main.appendChild(greeting);
        dojo.fadeIn({node:"greeting"}).play();
    }catch(e){
            //window.alert(e.message);
        }
}
var removeGreeting = function(){
    
    dojo.fadeOut({node:"greeting" }).play();
    wipeGreeting();
    try{
        main.removeChild(greeting);
    }catch(e){
        window.alert("error removing greeting "+e.message);
    }
}
var showGame = function(game){
    //window.alert("showing game "+game);
    try{

        main.appendChild(games[game]);
        gamenames[game].scrollText();

        try{
            //gamemods[game].startGame();
        }catch(e){}
        
    }catch(e){
            window.alert("error showing game ["+game+"] :"+e.message);
    }
}
var removeGame = function(game,fade){
    if(fade){
        dojo.fadeOut({ node: games[game] });
        
    }
    try{
        gamemods[game].resetGame();
        main.removeChild(games[game]);
    }catch(e){
            window.alert(e.message);
        }
}
var removeBothGames = function(){
    removeGame("gtw",false);
    removeGame("tictactoe",false);
}

var greetProfessorFalken = function(){
    
    greeting1.scrollText();
   
}


var initializeScrollingElement = function(element,txt,cdelay){
    element.scrolldelay    = cdelay;
    element.inprogress     = false;
    element.currentindex   = 0;
    element.currenttext    = txt;
    element.currentchars   = txt.split('');

    element._onEnd          = null;

    element.setTextToScroll = function(_txt){
        element.currenttext  = _txt;
        element.currentchars = _txt.split('');
    }

    element.onEnd = function(f,delay){
        element._onEnd    = f;
        element._endDelay = delay;
    }


    element.scrollText = function () {
        element.currentindex = 0;
        element.inprogress   = true;
        element.innerHTML    = '&nbsp;';
        element.scrollNextLetter();
 	
    }
    element.scrollNextLetter = function(){
       if (element.currentindex<element.currentchars.length) {
 		 element.scrolling = setTimeout(
                     function () {

                        letter = document.createTextNode(element.currentchars[element.currentindex]);
 	                if (letter.value == '\\'){ letter.value = ''; }
                        element.appendChild(letter);
                        clearTimeout(element.scrolling);
                        element.currentindex++;
                        element.scrollNextLetter();

                     },	element.scrolldelay);
 	} else {
 		 element.inprogress = false;
                 if(element._onEnd){
                    setTimeout( element._onEnd, element._endDelay);
                 }
 	}

    }



}


var initializeElements = function(){
    main     = dojo.byId("main");
    greeting = dojo.byId("greeting");
   

    games["gtw"]           = dojo.byId("gtw");
    games["tictactoe"]     = dojo.byId("tictactoe");

    gamenames["gtw"]       = dojo.byId("gamename-gtw");
    gamenames["tictactoe"] = dojo.byId("gamename-tictactoe");
    
    initializeScrollingElement(gamenames["gtw"],txtgamenames["gtw"],interCharDelay);
    initializeScrollingElement(gamenames["tictactoe"],txtgamenames["tictactoe"],interCharDelay);

    
    gamemods["gtw"].initGame();
    gamemods["tictactoe"].initGame();

    greeting1 = dojo.byId("greeting1");
    greeting2 = dojo.byId("greeting2");
    menu1     = dojo.byId("menu1");
    opt1      = dojo.create('a',{
                href: '#',
                onclick: function(){
                        removeGreeting();
                        showGame("gtw");
                }
            });
    opt2      = dojo.create('a',{
                href: '#',
                onclick: function(){
                       removeGreeting();
                       showGame("tictactoe");
                }
            });
    li1 = dojo.create('li',{});
    li2 = dojo.create('li',{});
    selectone = dojo.byId("selectone");
    
    initializeScrollingElement(greeting1,txtgreeting1,interCharDelay);
    initializeScrollingElement(greeting2,txtgreeting2,interCharDelay);
    initializeScrollingElement(opt1,txtoption1,interCharDelay);
    initializeScrollingElement(opt2,txtoption2,interCharDelay);
    initializeScrollingElement(selectone,"SELECT ONE",interCharDelay);

 
    greeting1.onEnd(greeting2.scrollText,betweenEl);
    greeting2.onEnd(function(){
                        
                        dojo.place(opt1,li1);
                        dojo.place(li1,menu1);
                        opt1.scrollText();
                        },betweenEl);
 
    opt1.onEnd(function(){
                        dojo.place(opt2,li2);
                        dojo.place(li2,menu1);
                        opt2.scrollText();
                        },betweenEl);   

    opt2.onEnd(selectone.scrollText,betweenEl);
                        

}

var imgtictactoe_x = "{{MEDIA_URL}}images/x.jpg";
var imgtictactoe_o = "{{MEDIA_URL}}images/o.jpg";
var imgtictactoe_b = "{{MEDIA_URL}}images/blank.jpg";

var tttpause = 0;
var tttall   = 0;


var a = 0;
var b = 0;
var c = 0;
var d = 0;
var e = 0;
var f = 0;
var g = 0;
var h = 0;
var i = 0;

var ttttemp="";
var tttok = 0;
var tttcf = 0;
var tttchoice=9;
var tttaRandomNumber = 0;
var tttcomp = 0; 
var tttt = 0;
var tttwn = 0;
var tttls = 0;
var tttts = 0;

function tttlogicOne() {
if ((a==1)&&(b==1)&&(c==1)) tttall=1;
if ((a==1)&&(d==1)&&(g==1)) tttall=1;
if ((a==1)&&(e==1)&&(i==1)) tttall=1;
if ((b==1)&&(e==1)&&(h==1)) tttall=1;
if ((d==1)&&(e==1)&&(f==1)) tttall=1;
if ((g==1)&&(h==1)&&(i==1)) tttall=1;
if ((c==1)&&(f==1)&&(i==1)) tttall=1;
if ((g==1)&&(e==1)&&(c==1)) tttall=1;
if ((a==2)&&(b==2)&&(c==2)) tttall=2;
if ((a==2)&&(d==2)&&(g==2)) tttall=2;
if ((a==2)&&(e==2)&&(i==2)) tttall=2;
if ((b==2)&&(e==2)&&(h==2)) tttall=2;
if ((d==2)&&(e==2)&&(f==2)) tttall=2;
if ((g==2)&&(h==2)&&(i==2)) tttall=2;
if ((c==2)&&(f==2)&&(i==2)) tttall=2;
if ((g==2)&&(e==2)&&(c==2)) tttall=2;
if ((a != 0)&&(b != 0)&&(c != 0)&&(d != 0) &&(e != 0)&&(f != 0)&&(g != 0)&&(h != 0)&&(i != 0)&&(tttall == 0)) tttall = 3;
} 
function tttlogicTwo() {
if ((a==2)&&(b==2)&&(c==0)&&(ttttemp=="")) _temp="C";
if ((a==2)&&(b==0)&&(c==2)&&(ttttemp=="")) _temp="B";
if ((a==0)&&(b==2)&&(c==2)&&(ttttemp=="")) _temp="A";
if ((a==2)&&(d==2)&&(g==0)&&(ttttemp=="")) _temp="G";
if ((a==2)&&(d==0)&&(g==2)&&(ttttemp=="")) _temp="D";
if ((a==0)&&(d==2)&&(g==2)&&(ttttemp=="")) _temp="A";
if ((a==2)&&(e==2)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((a==2)&&(e==0)&&(i==2)&&(ttttemp=="")) _temp="E";
if ((a==0)&&(e==2)&&(i==2)&&(ttttemp=="")) _temp="A";
if ((b==2)&&(e==2)&&(h==0)&&(ttttemp=="")) _temp="H";
if ((b==2)&&(e==0)&&(h==2)&&(ttttemp=="")) _temp="E";
if ((b==0)&&(e==2)&&(h==2)&&(ttttemp=="")) _temp="B";
if ((d==2)&&(e==2)&&(f==0)&&(ttttemp=="")) _temp="F";
if ((d==2)&&(e==0)&&(f==2)&&(ttttemp=="")) _temp="E";
if ((d==0)&&(e==2)&&(f==2)&&(ttttemp=="")) _temp="D";
if ((g==2)&&(h==2)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((g==2)&&(h==0)&&(i==2)&&(ttttemp=="")) _temp="H";
if ((g==0)&&(h==2)&&(i==2)&&(ttttemp=="")) _temp="G";
if ((c==2)&&(f==2)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((c==2)&&(f==0)&&(i==2)&&(ttttemp=="")) _temp="F";
if ((c==0)&&(f==2)&&(i==2)&&(ttttemp=="")) _temp="C";
if ((g==2)&&(e==2)&&(c==0)&&(ttttemp=="")) _temp="C";
if ((g==2)&&(e==0)&&(c==2)&&(ttttemp=="")) _temp="E";
if ((g==0)&&(e==2)&&(c==2)&&(ttttemp=="")) _temp="G";
ttttemp = "ttt"+_temp
}
function tttlogicThree() {
if ((a==1)&&(b==1)&&(c==0)&&(ttttemp=="")) _temp="C";
if ((a==1)&&(b==0)&&(c==1)&&(ttttemp=="")) _temp="B";
if ((a==0)&&(b==1)&&(c==1)&&(ttttemp=="")) _temp="A";
if ((a==1)&&(d==1)&&(g==0)&&(ttttemp=="")) _temp="G";
if ((a==1)&&(d==0)&&(g==1)&&(ttttemp=="")) _temp="D";
if ((a==0)&&(d==1)&&(g==1)&&(ttttemp=="")) _temp="A";
if ((a==1)&&(e==1)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((a==1)&&(e==0)&&(i==1)&&(ttttemp=="")) _temp="E";
if ((a==0)&&(e==1)&&(i==1)&&(ttttemp=="")) _temp="A";
if ((b==1)&&(e==1)&&(h==0)&&(ttttemp=="")) _temp="H";
if ((b==1)&&(e==0)&&(h==1)&&(ttttemp=="")) _temp="E";
if ((b==0)&&(e==1)&&(h==1)&&(ttttemp=="")) _temp="B";
if ((d==1)&&(e==1)&&(f==0)&&(ttttemp=="")) _temp="F";
if ((d==1)&&(e==0)&&(f==1)&&(ttttemp=="")) _temp="E";
if ((d==0)&&(e==1)&&(f==1)&&(ttttemp=="")) _temp="D";
if ((g==1)&&(h==1)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((g==1)&&(h==0)&&(i==1)&&(ttttemp=="")) _temp="H";
if ((g==0)&&(h==1)&&(i==1)&&(ttttemp=="")) _temp="G";
if ((c==1)&&(f==1)&&(i==0)&&(ttttemp=="")) _temp="I";
if ((c==1)&&(f==0)&&(i==1)&&(ttttemp=="")) _temp="F";
if ((c==0)&&(f==1)&&(i==1)&&(ttttemp=="")) _temp="C";
if ((g==1)&&(e==1)&&(c==0)&&(ttttemp=="")) _temp="C";
if ((g==1)&&(e==0)&&(c==1)&&(ttttemp=="")) _temp="E";
if ((g==0)&&(e==1)&&(c==1)&&(ttttemp=="")) _temp="G";

ttttemp = "ttt"+_temp;
}

function tttcheckSpace() {
    //window.alert(tttcf+":"+ttttemp+":"+a+","+b+","+c+","+d+","+e+","+f+","+g+","+h+","+i);
    if ((ttttemp=="tttA")&&(a==0)) {
        tttok=1;
        if (tttcf==0) a=1;
        if (tttcf==1) a=2;
    }
    if ((ttttemp=="tttB")&&(b==0)) {
        tttok=1;
        if (tttcf==0) b=1;
        if (tttcf==1) b=2;
    }
    if ((ttttemp=="tttC")&&(c==0)) {
        tttok=1;
        if (tttcf==0) c=1;
        if (tttcf==1) c=2;
    }
    if ((ttttemp=="tttD")&&(d==0)) {
        tttok=1;
        if (tttcf==0) d=1;
        if (tttcf==1) d=2;
    }
    if ((ttttemp=="tttE")&&(e==0)) {
        tttok=1;
        if (tttcf==0) e=1;
        if (tttcf==1) e=2;
    }
    if ((ttttemp=="tttF")&&(f==0)) {
        tttok=1
        if (tttcf==0) f=1;
        if (tttcf==1) f=2;
    }
    if ((ttttemp=="tttG")&&(g==0)) {
        tttok=1
        if (tttcf==0) g=1;
        if (tttcf==1) g=2;
    }
    if ((ttttemp=="tttH")&&(h==0)) {
        tttok=1;
        if (tttcf==0) h=1;
        if (tttcf==1) h=2;
    }
    if ((ttttemp=="tttI")&&(i==0)) {
        tttok=1;
        if (tttcf==0) i=1; 
        if (tttcf==1) i=2; 
    }
}


function tttSendResultToServer(rslt){
        var urlget      = "result?rslt=" + rslt;
        dojo.xhrGet({
            url: urlget,
            load: function(result){
                    window.alert(result);
                },
            error: function(e){
                    window.alert("error: "+e);
               }});
}

function tttMyChoice() {
ttttemp="";
tttok = 0;
tttcf=1;
tttlogicTwo();
tttlogicThree();
tttcheckSpace();
while(tttok==0) {
tttaRandomNumber=Math.random()
tttcomp=Math.round((tttchoice-1)*tttaRandomNumber)+1;
if (tttcomp==1) ttttemp="tttA";
if (tttcomp==2) ttttemp="tttB";
if (tttcomp==3) ttttemp="tttC";
if (tttcomp==4) ttttemp="tttD";
if (tttcomp==5) ttttemp="tttE";
if (tttcomp==6) ttttemp="tttF";
if (tttcomp==7) ttttemp="tttG";
if (tttcomp==8) ttttemp="tttH";
if (tttcomp==9) ttttemp="tttI";
tttcheckSpace();
}
document.images[ttttemp].src= imgtictactoe_o;
tttprocess();
}



function tttprocess() {
tttwinner = '';
tttlogicOne();
if (tttall==1){
            tttwinner = "YOU";
    }
if (tttall==2){
        tttwinner = "ME";
}
if (tttall==3){
        tttwinner = "NONE";
    }
if (tttall!=0) {

            tttSendResultToServer(tttall);


    
            dojo.byId("yourmove-tictactoe").onEnd(null);
            dojo.byId("yourmove-tictactoe").setTextToScroll("WINNER: "+tttwinner);
            dojo.byId("yourmove-tictactoe").scrollText();

            _result = dojo.byId("result-tictactoe");

            _playagain = dojo.create('span',{});
            initializeScrollingElement(_playagain,"PLAY AGAIN? ",interCharDelay);

            _playagain_yes = dojo.create('a',{href:"#",
                                              onclick:function(){

                                                    tttreset();

                                                    _result.removeChild(_playagain);
                                                    _result.removeChild(_playagain_yes);
                                                    _result.removeChild(_playagain_no);
                                                }
                                              });
            initializeScrollingElement(_playagain_yes,"YES ",interCharDelay);

            _playagain_no  = dojo.create('a',{href:"#",


                                            onclick:function(){

                                                tttreset();
                                    _result.removeChild(_playagain);
                                                    _result.removeChild(_playagain_yes);
                                                    _result.removeChild(_playagain_no);
                                             
                                    removeGame("tictactoe");
                                    showGreeting();
                                    greetProfessorFalken();}
                                              });
            initializeScrollingElement(_playagain_no,"NO",interCharDelay);

            _playagain.onEnd(_playagain_yes.scrollText);
            _playagain_yes.onEnd(_playagain_no.scrollText);

            _result.appendChild(_playagain);
            _result.appendChild(_playagain_yes);
            _result.appendChild(_playagain_no);
            _playagain.scrollText();
   }else{
            dojo.byId("yourmove-tictactoe").onEnd(null);         
            dojo.byId("yourmove-tictactoe").setTextToScroll("YOUR MOVE");
            dojo.byId("yourmove-tictactoe").scrollText();

}
}
function tttended(){}
function tttYourChoice(chName) {
    try{
    tttpause = 0;
    if (tttall!=0){
        tttended();
    }
    if (tttall==0) {
        tttcf = 0;
        tttok = 0;
        ttttemp= "ttt"+chName;
        tttcheckSpace();
        //window.alert(tttok);
        if (tttok==1) {
          
            document.images['ttt'+chName].src = imgtictactoe_x;
        }
        if (tttok==0)ttttaken();
        tttprocess();
        if ((tttall==0)&&(tttpause==0)){

            dojo.byId("yourmove-tictactoe").onEnd(tttMyChoice,2000);
            dojo.byId("yourmove-tictactoe").setTextToScroll("MY MOVE");
            dojo.byId("yourmove-tictactoe").scrollText();
        }
    }
    }catch(e){
        window.alert(e.message);
    }
}
function tttreset(){

tttall = 0;
a = 0;
b = 0;
c = 0;
d = 0;
e = 0;
f = 0;
g = 0;
h = 0;
i = 0;
ttttemp="";
tttok = 0;
tttcf = 0;
tttchoice=9;
tttaRandomNumber = 0;
tttcomp = 0; 
document.images.tttA.src= imgtictactoe_b;
document.images.tttB.src= imgtictactoe_b;
document.images.tttC.src= imgtictactoe_b;
document.images.tttD.src= imgtictactoe_b;
document.images.tttE.src= imgtictactoe_b;
document.images.tttF.src= imgtictactoe_b;
document.images.tttG.src= imgtictactoe_b;
document.images.tttH.src= imgtictactoe_b;
document.images.tttI.src= imgtictactoe_b;
if (tttt==0) { tttt=2; tttMyChoice(); }else{
    dojo.byId("yourmove-tictactoe").setTextToScroll("YOUR MOVE");
    dojo.byId("yourmove-tictactoe").scrollText();

}
tttt--;
}
function ttttaken() {
//alert("That square is already occupied.  Please select another square.")
tttpause=1;
}

{% endblock %}
{% block styles %}
#main{
  font-family: monospace;
  font-weight: bold;
  font-size:   24pt;
  margin-top:  2em;
  margin-left: 4em;
  color:       #009;
  
}
#menu1{
  margin-left: 2em;
}
a{
    text-decoration: none;
}
a:link{
        color: #009;
}
a:visited{
        color: #009;
}
a:hover{
        color: #f00;
}
a:active{
        color: #ff0;
}
.return{
    margin-top: 2em;
}

.tictactoe-tl{
    border-bottom: 2px solid #009;
    border-right:  2px solid #009;
}
.tictactoe-tm{
    border-bottom: 2px solid #009;
    border-right:  2px solid #009;
    border-left:   2px solid #009;
}
.tictactoe-tr{
    border-bottom: 2px solid #009;
    border-left:   2px solid #009;
}
.tictactoe-ml{
    border-right:  2px solid #009;
    border-top:    2px solid #009;
    border-bottom: 2px solid #009;
}
.tictactoe-mm{
    border: 2px solid #009;
}
.tictactoe-mr{
    border-left:  2px solid #009;
    border-top:    2px solid #009;
    border-bottom: 2px solid #009;
}
.tictactoe-ll{
    border-top: 2px solid #009;
    border-right:  2px solid #009;
}
.tictactoe-lm{
    border-top: 2px solid #009;
    border-right:  2px solid #009;
    border-left:   2px solid #009;
}
.tictactoe-lr{
    border-top:   2px solid #009;
    border-left:   2px solid #009;
}
{% endblock %}
{% block ready %}
    initializeElements();
    removeBothGames();
    greetProfessorFalken();
{% endblock %}
{% block content %}
<div id="main">
<div id="greeting">
<div id="greeting1"></div>
<div id="greeting2"></div>
<ol id="menu1"></ol>
<div id="selectone"></div>
</div>
<div id="gtw">
<div id="gamename-gtw"></div>
<div id="result-gtw"></div>
<div class="return"><a id="return-gtw" href="#"></a></div>
</div>

<div id="tictactoe">
<div id="gamename-tictactoe"></div>
<div id="yourmove-tictactoe"></div>

<div id="board-tictactoe">

<table border=0 cellspacing="0">
<tr>
<td class="tictactoe-tl"><a href="javascript:tttYourChoice('A')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttA alt="Top-Left"></a></td>
<td class="tictactoe-tm"><a href="javascript:tttYourChoice('B')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttB alt="Top-Center"></a></td>
<td class="tictactoe-tr"><a href="javascript:tttYourChoice('C')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttC alt="Top-Right"></a></td>
</tr>
<tr>
<td class="tictactoe-ml"><a href="javascript:tttYourChoice('D')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttD alt="Middle-Left"></a></td>
<td class="tictactoe-mm"><a href="javascript:tttYourChoice('E')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttE alt="Middle-Center"></a></td>
<td class="tictactoe-mr"><a href="javascript:tttYourChoice('F')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttF alt="Middle-Right"></a></td>
</tr>
<tr>
<td class="tictactoe-ll"><a href="javascript:tttYourChoice('G')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttG alt="Bottom-Left"></a></td>
<td class="tictactoe-lm"><a href="javascript:tttYourChoice('H')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttH alt="Bottom-Center"></a></td>
<td class="tictactoe-lr"><a href="javascript:tttYourChoice('I')"><img src="{{MEDIA_URL}}images/blank.jpg" border=0 height="{{ gridwidth }}" width="{{ gridwidth }}" name=tttI alt="Bottom-Right"></a></td>
</tr>
</table>


</div>

<div id="result-tictactoe"></div>
<div class="return"><a id="return-tictactoe" href="#"></a></div>
</div>

</div>

<!--

-->
{% endblock %}
