{% extends "tictactoegamebase.html" %}
{% block title %}Game In Progress | Tic/ Tac/ Toe/{% endblock %}

{% block meta_tags %}
	{{ block.super }}
	<META NAME="Description" CONTENT="Game Page for Tic/ Tac/ Toe/">
{% endblock %}

{% block main_content %}

	<h1>// Tic-Tac-Toe</h1>

	<section class="instructions">
	<p>
        <h2>Instructions</h2>
        <p>Please fill out all the fields below.  <br />
           If you get an error, just try again.  <br />
           We promise, this will eventually solve the problem.</p>
	</p>
    </section>

    <section id="game_board">
        <canvas class="board_section" id="section_1"></canvas>
        <canvas class="board_section" id="section_2"></canvas>
        <canvas class="board_section" id="section_3"></canvas>
        <canvas class="board_section" id="section_4"></canvas>
        <canvas class="board_section" id="section_5"></canvas>
        <canvas class="board_section" id="section_6"></canvas>
        <canvas class="board_section" id="section_7"></canvas>
        <canvas class="board_section" id="section_8"></canvas>
        <canvas class="board_section" id="section_9"></canvas>
    </section>

	{{ block.super }}
	
{% endblock %}

