{% extends "projectbase.html" %}

{% block title %}
	Tic_Tac_Toe_Game App | Tic/ Tac/ Toe/
{% endblock %}

{% block additional_head_items %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tic_tac_toe_game.css">
{% endblock %}

{% block main_content %}

	<section id="privacy_policy">
        <h2>Privacy Policy</h2>
		<p>
		    By creating/having an account on this website, you are making
		    a poor choice.  We will exploit the information that you provide to
            us at every opportunity.  This is how we get raises.
        </p>
        <p>
            We will perform complex algorithms on your game tic-tac-toe
            strategy from which we will devise your social security number,
            bank accounts, and even the name of your 2nd grade teacher's pet
            dog (yes, the poodle).
        </p>
	</section>
{% endblock %}
