<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>
    {% block title %}
      DJTickyTack
    {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="/static/tickytack.css"/>
</head>
<body>

  <div id="header" class="navigation">
  
    <h1><a href="http://www.djangoproject.com/">DJ</a>TickyTack</h1>

    <p class="tagline">Best. Tic-Tac-Toe. Server. Ever.</p>

    {% if user.is_authenticated %}

      <div id="newGame">
        <form method="post" action="{% url DJTickyTack.views.games %}">
          {% csrf_token %}
          <label>
            Start new game as:
            <select name="playAs">
              <option>X</option>
              <option>O</option>
            </select>
          </label>
          <input type="submit" value="go"/>
        </form>
      </div>

      <div id="navData">

          <span>Logged in as: <strong>{{ user.username }}</strong></span>
  
          <ul id="navLinks" style="display:inline;">
            <li style="display:inline">
              <a href="{% url DJTickyTack.views.games %}">your games</a>
            </li>
            <li style="display:inline">
              <a href="{% url DJTickyTack.views.joinable %}">join game</a>
            </li>
            <li style="display:inline">
              <a href="{% url django.contrib.auth.views.logout %}">log out</a>
            </li>
          </ul>
      </div>

    {% endif %}
  </div>

  <div id="content">
    {% block content %}
      Hello World.
    {% endblock %}
  </div>

  <div id="footer" class="navigation">
    &copy; Copyright 2011 <a href="http://sabren.com/">Sabren Enterprises, Inc.</a>
  </div>

</body>
</html>
