{% extends "base.html" %}
{% load gametags %}

{% block content %}

  <h1>Your Games</h1>

  <p>This is a correspondence-based gaming server. Games are updated when
     your opponent logs in to make their move. <span class="aside">
     (Nice AJAXy updates are still on the horizon. Meanwhile, hit
     refresh once in a while to check for opponent's moves.)</span>
  </p>


  <h2>Your Turn:</h2>

  <div class="badges">
    {% for game in activeGames %}
      {% game_badge game %}
    {% empty %}
      <p>No active games.
        <span class="aside">Why not join or start one?</span></p>
    {% endfor %}
    <br/>
  </div>

  <h2>Waiting on Opponent:</h2>

  <div class="badges">
    {% for game in pendingGames %}
      {% game_badge game %}
    {% empty %}
      <p>No pending games.</p>
    {% endfor %}
    <br/>
  </div>

  <h2>Finished Games:</h2>

  <div class="badges">
    {% for game in finishedGames %}
      {% game_badge game %}
    {% empty %}
      <p>No finished games.</p>
    {% endfor %}
    <br/>
  </div>


{% endblock %}
