{% extends "base.html" %}
{% load gametags %}

{% block content %}

  <h1>Game {{ game.id }}</h1>

  <p><span class="X">X:</span> {{ game.player1.username }}
     <span class="O">O:</span> {{ game.player2.username }}</p>

  <form method="post" action="">

    {% csrf_token %}
    {% game_board game %}

    {% if game.toPlay == user %}
      <input type="submit" value="submit move"/>
    {% endif %}
  </form>

  {% if game.finished %}
    <p>{{ state|colorize }}</p>
  {% endif %}

{% endblock %}
