{% extends "base.html" %}

{% block content %}

  <h1>Choose a Game to Join</h1>

  {% if joinable %}

    <form id="theForm" method="post" action="{% url DJTickyTack.views.joinable %}">
      {% csrf_token %}
      <table border="1">
        <thead>
          <tr>
            <th>join?</th>
            <th>opponent</th>
            <th>playing as</th>
          </tr>
        </thead>
        <tbody>
          {% for game in joinable %}
            <tr>
              <td><input type="radio" id="game{{ game.id }}"
                         name="gameId" value="{{ game.id }}"/></td>
              <td><label for="game{{ game.id }}">{{ game.firstPlayer }}</label></td>
              <td class="{{ game.firstPlayerRole }}">{{ game.firstPlayerRole }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" value="join"/>
    </form>

  {% else %}

    <p>There are no games available to join. Why not start one?</p>

  {% endif %}

{% endblock %}
