.center-icon-lg{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
}


.center-img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #777;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

ul.socialNetwork {
	padding: 0;
	display: block;
}

ul.socialNetwork li {
	display: inline-block;
	list-style-type: none;
}

#map-canvas { 
	width: 100%;
	height: 200px;
}