Alex Ferrer's Tic-Tac-Toe<br>

<br>
<form action="your_move">
<table BORDER=3 class="board" cellspacing="1" summary="Tic-Tac-Toe Board">
<tr>
 <td class="box" width="25%">
    <button type="submit" name="button" value="0">
      {{ b0 }}
    </button>
 </td>
 <td class="box" width="25%">
     <button type="submit" name="button" value="1">
      {{ b1 }}
    </button>
</td>
 <td class="box" width="25%">
      <button type="submit" name="button" value="2">
      {{ b2 }}
    </button>
 </td>
</tr>
<tr>
 <td class="box" width="25%">
    <button type="submit" name="button" value="3">
      {{ b3 }}
    </button>
 </td>
 <td class="box" width="25%">
     <button type="submit" name="button" value="4">
      {{ b4 }}
    </button>
</td>
 <td class="box" width="25%">
      <button type="submit" name="button" value="5">
      {{ b5 }}
    </button>
 </td>
</tr>
<tr>
 <td class="box" width="25%">
    <button type="submit" name="button" value="6">
      {{ b6 }}
    </button>
 </td>
 <td class="box" width="25%">
     <button type="submit" name="button" value="7">
      {{ b7 }}
    </button>
</td>
 <td class="box" width="25%">
      <button type="submit" name="button" value="8">
      {{ b8 }}
    </button>
 </td>
</tr>
</table>
</form>
<br>
Make your move
