<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="//fonts.googleapis.com/css?family=VT323:400" rel="stylesheet">
  {% load staticfiles %}
  <link href="{% static "css/coxtactoe.css" %}" rel="stylesheet">
  <title>cOXtactoe game</title>
</head>
<body>
  <div id="tictactoe-bg">
    <div id="tictactoe-container">
      <div id="tictactoe">
        <div id="0" style="background-image: url({% static "img/x.png" %});
            background-position: 13px 4px; background-repeat: no-repeat;"></div>
        <div id="1"></div>
        <div id="2"></div>
        <div id="3"></div>
        <div id="4" style="background-image: url({% static "img/o.png" %});
            background-position: 13px 4px; background-repeat: no-repeat;"></div>
        <div id="5"></div>
        <div id="6"></div>
        <div id="7"></div>
        <div id="8"></div>
      </div>
    </div>
  </div>
  <h2 class="o-turn-text">YOUR TURN</h2>
  <h2 class="x-turn-text">YOUR TURN</h2>
  <h2 class="lose-text">YOU LOSE!</h2>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
</body>
</html>