#content #tic-tac-toe-table {
    margin: 20px 30px;
    border-collapse: collapse;
}

#content #tic-tac-toe-table td {
    padding: 50px 40px;
}

#content #tic-tac-toe-table td.top {
    border-bottom: 1px solid;
}

#content #tic-tac-toe-table td.bottom {
    border-top: 1px solid;
}

#content #tic-tac-toe-table td.left {
    border-right: 1px solid;
}

#content #tic-tac-toe-table td.right {
    border-left: 1px solid;
}


td.x {
    background: url('/static/img/x_o.png') 0 0;
}

td.o {
    background: url('/static/img/x_o.png') 0 -100px;
}

td.X {
    background: url('/static/img/x_o.png') 0 200px;
}

td.O {
    background: url('/static/img/x_o.png') 0 100px;
}