{% extends "base.html" %}

{% block content %}
    <h2>Corner: {{ corner }}</h2>
    <section class="container-fluid" ng-app="tictactoe" ng-controller="TicTacToeCtrl" ng-init="corner={{ corner }}">
        <div class="col-md-4">&nbsp;</div>

        <div class="col-md-4">
            <table class="table-condensed table-bordered">
                <tbody>
                    <tr>
                        <td ng-repeat="mv in [0, 1, 2]">
                            <button type="button" id="move_[[ mv ]]" ng-disabled="[[ mv ]]==[[ corner ]]" class="btn btn-default btn-sm" ng-click="makeMove(mv)">[[ mv === corner ? "X" : "&nbsp;"]]</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="mv in [3, 4, 5]">
                            <button type="button" id="move_[[ mv ]]" ng-disabled="[[ mv ]]==[[ corner ]]" class="btn btn-default btn-sm" ng-click="makeMove(mv)">[[ mv === corner ? "X" : "&nbsp;"]]</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="mv in [6, 7, 8]">
                            <button type="button" id="move_[[ mv ]]" ng-disabled="[[ mv ]]==[[ corner ]]" class="btn btn-default btn-sm" ng-click="makeMove(mv)">[[ mv === corner ? "X" : "&nbsp;"]]</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">&nbsp;</div>
    </section><!-- ./ collections-table -->
{% endblock %}