{% extends "base.html" %}

{% block jumbotron_heading %}Tic-Tac-Toe{% endblock jumbotron_heading %}


{% block jumbotron_subheading %}
It's winnable, we promise! If you lose the first time, just keep trying. We believe in you.
{% endblock jumbotron_subheading %}

{% block content %}
<div class="row marketing">
  <h2>Recent Players</h2>
  <table class="table table-striped">
	  <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Times Played</th>
          <th>Times Won</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Zeb</td>
          <td>123</td>
          <td>0</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>12</td>
          <td>0</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>1</td>
          <td>0</td>
        </tr>
      </tbody>
  </table>
</div>
{% endblock content %}
