@import 'bootstrap';

.page-header {
  .container-fluid;
  border-bottom: 1px solid @gray-lighter;
}

#t3app {
  .center-block();
  width: 300px;
}

#content {
  .container-fluid;
  .size(500px, 100%);

  img.banner {
    .size(100%, auto);
  }

  .title-screen {
    .buttons {
      margin-top: 10px;
    }
  }

  .t3-game {
    .game-header {
      .panel;
      .panel-default;

      .header {
        .container-fluid;
        .make-row();
        .panel-body;

        .games-played, .games-won, .games-lost, .games-tied {
          .make-xs-column(3);

          text-align: center;

          label {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.btn-primary-block {
  .btn;
  .btn-lg;
  .btn-primary;
  .btn-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

