{% extends "base.html" %}

{% block headscript %}
  <script type="text/javascript">
    var ai_player, player;
    function get_state_from_table($table) {
        var state = '';
        $table.find("td").each(function (i, e) {
            if ($(e).hasClass('x'))
                state += 'x';
            else if ($(e).hasClass('o'))
                state += 'o';
            else
                state += 'e';
        });
        return state;
    }

    function set_state_to_table($table, state) {
        $table.find("td").each(function (i, e) {
            $(e).removeClass("x o e X O");
            $(e).addClass(state[i]);
        });
    }

    function reset_table($table) {
        $table.removeClass("locked");
        set_state_to_table($table, "eeeeeeeee");
        $("#comment").text("");
        if (ai_player == 'x')
            play($table, true);
    }

    function game_finished($table) {
        var $comment = $("#comment");
        if ($table.find(".X").length) {
            $comment.text("X wins!");
            return true;
        }
        if ($table.find(".O").length) {
            $comment.text("O wins!");
            return true;
        }
        if (!$table.find(".e").length) {
            $comment.text("It's a draw!");
            return true;
        }
        return false;
    }
   
    function set_player(to_player, $table) {
        player = to_player;
        ai_player = player=='o' ? 'x': 'o';

        reset_table($table);
    }

    function play($table, empty) {
        state = empty ? '': get_state_from_table($table);
        $table.addClass('locked');
        $.getJSON("{% url 'play' %}",
                  {state: state,
                   ai_player: ai_player},
                  function (data) {
                      set_state_to_table($table, data.state);
                      $table.removeClass("locked");
                      game_finished($table)
                  });
    }

    $(function () {
        var $table = $("#tic-tac-toe-table");
        $table.addClass("locked");

        $("#tic-tac-toe-table td").click(function () {            
            if (!$table.hasClass("locked")) {
                if (game_finished($table)) {
                    reset_table($table);
                } else if ($(this).hasClass('e')) {
                    $(this).removeClass('e');
                    $(this).addClass(player);
                    play($table);
                }
            }
        });
        $(".set-player").click(function () {
            set_player($(this).attr('id'), $table);
        });
    });
</script>
{% endblock %}

{% block content %}
<div>Welcome to the Tic Tac Toe!</div>
<div id="comment">Pick a player:</div>
<button type="button" class="set-player" id="x">Play as X</button>
<button type="button" class="set-player" id="o">Play as O</button>
<table id="tic-tac-toe-table">
    <tbody>
        <tr>
            <td class="e top left"></td>
            <td class="e top"></td>
            <td class="e top right"></td>
        </tr>
        <tr>
            <td class="e left"></td>
            <td class="e "></td>
            <td class="e right"></td>
        </tr>
        <tr>
            <td class="e bottom left"></td>
            <td class="e bottom"></td>
            <td class="e bottom right"></td>
        </tr>
    </tbody>
</table>
{% endblock %}
