{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        {% block title_full %}
        <title>{% block title %}Games{% endblock %} | EPiCOWL</title>
        {% endblock title_full%}

        {% block includes_head %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        {% endblock includes_head %}
    </head>
    <body class="main">
        <div class="container">
            <div class="header">
                {% comment %}
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Game</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                {% endcomment %}
                <h3 class="text-muted header-link"><a href="{% url 'tictactoe-list' %}">{% block header-link %}Tic-Tac-Toe{% endblock %}</a></h3>
            </div>
            {% block content %}{% endblock %}
        </div>

        {% block includes_body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% endblock includes_body %}
    </body>
</html>
