{% extends "games/base.html" %}

{% block header-link %}{% if object.is_complete %}Play Again{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="table-responsive">
        <table class="table game" data-obj="{{ object.pk }}">
            <tr>
            {% for item in object.get_board %}
            {% for k, v in item.items %}
            <td id="JS_position-{{ forloop.parentloop.counter0 }}" class="game-mark" data-mark="{{ forloop.parentloop.counter0 }}">{% if not v.0 == 'E' %}{{ v.1 }}{% endif %}</td>
            {% if forloop.parentloop.counter|divisibleby:3 %}
            </tr>
            <tr class="table-row-borders">
            {% endif %}
            {% endfor %}
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
<h2 class="status {% if object.is_complete %}inflated{% endif %}">{% if object.is_complete %}Game Over{% else %}Your turn{% endif %}</h2>
{% endblock content %}
