<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
      <level value="Info" />
      <appender-ref ref="ConsoleAppender" />
      <!--<appender-ref ref="RollingLogFileAppender" />-->
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level  %property{version} [%thread] %logger - %message%newline %exception" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GameLog" />
		<AcceptOnMatch value="false"/>
      </filter>
    </appender>
    <!--<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log.txt" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date %property{version} [%thread] %logger - %message%newline %exception" />
      </layout>
    </appender>
    <appender name="GameLogRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="GameLogs\log.txt" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{version} - %message" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GameLog" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>-->
  </log4net>
</configuration>