server {
	#listen   80; ## listen for ipv4; this line is default and implied
	root /usr/share/nginx/www;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost;

        # Forward traffic from this location to the port where tic tac toe server is running.
        location /TTT_API {
            proxy_pass http://localhost:8080/TTT_API;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ /index.html;
	}
}
