

/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 *
 */
@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/Museo_Slab_500_2-webfont.eot');
    src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tictac';
    src: url('../fonts/tictac.eot');
    src: url('../fonts/tictac.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tictac.woff') format('woff'),
         url('../fonts/tictac.ttf') format('truetype'),
         url('../fonts/tictac.svg#tictac') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tictac {
    font-family: "tictac";
}

body {
    font-family: 'museo_slab500';
}

h3 {
    padding: 8px;
    line-height: 32px;
    font-size: 32px;
    margin-top: -10px;
    margin-left: -12px;
    margin-bottom: 0.75em;
    border-top: 2px solid #666;
    border:1px solid #888;
    border-radius: 10px;
}

.player-label {
    background: #fff;
    padding: 2px;
}

.player {

}
.player0 {
    color: #833;
}

.player1 {
    color: #338;
}

.start-new-game {
    margin-top: 1em;
}

.next_player:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    margin-left: -24px;
    font-size: 24px;
    line-height: 32px;
    display: block;
    float: left;
}

h3.next_player {
    background-color: #ddd;
}


.winner {
    background: yellow;
}

.board-square {
    width: 80px;
    height: 80px;
    border-right: 3px solid black;
    display: table-cell;
    overflow: hidden;
    float: left;
    line-height: 40px;
}

.board-square:last-child {
    border-right: none;
}

.board-row {
    border-bottom: 3px solid black;
    display:block;
    width: 246px;
    height: 83px;
}

.board-row:last-child {
    border-bottom: none;
}

.square-content {
    padding: 10px;
    font-size: 32px;
    margin-top: 14px;
    text-align: center;
    display: block;
}

.game-over-overlay {
    position: absolute;
    top: 150px;
    font-family: 'Carter One';
    font-size: 72px;
}

.game-over {
    color: #924;
    position: absolute;
}

.game-over-background {
    color: #eee;
    position: absolute;
}

.has-winner-overlay {
    font-family: 'Carter One';
    font-size: 48px;
    position: absolute;
    top: 100px;
}

.has-winner {
    color: #429;
    position: absolute;
}

.has-winner-background {
    color: #eee;
    position: absolute;
}

.play {
    font-family: "tictac";
    font-weight: bold;
    font-size: 36px;
}

.playable:hover {
    background: #ffc;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 2.0s;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    40% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    40% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.popIn {
    animation-name: popIn;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    -webkit-animation-name: popIn;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: popIn;
    -moz-animation-duration: 1.0s;
    -moz-animation-timing-function: ease-out;
}

@keyframes popIn {
    0% {
        transform: scaleX(0.5);
    }
    50%{
        transform: scaleX(1.1);
    }
    60%{
        transform: scaleX(0.9);
    }
    70% {
        transform: scaleX(1.05);
    }
    80%{
        transform: scaleX(0.95);
    }
    90% {
        transform: scaleX(1.02);
    }
    100%{
        transform: scaleX(1);
    }
}

@-webkit-keyframes popIn {
    0% {
        -webkit-transform: scaleX(0.5);
    }
    50%{
        -webkit-transform: scaleX(1.1);
    }
    60%{
        -webkit-transform: scaleX(0.9);
    }
    70% {
        -webkit-transform: scaleX(1.05);
    }
    80%{
        -webkit-transform: scaleX(0.95);
    }
    90% {
        -webkit-transform: scaleX(1.02);
    }
    100%{
        -webkit-transform: scaleX(1);
    }
}


