

/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 *
 */
@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/Museo_Slab_500_2-webfont.eot');
    src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tictac';
    src: url('../fonts/tictac.eot');
    src: url('../fonts/tictac.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tictac.woff') format('woff'),
         url('../fonts/tictac.ttf') format('truetype'),
         url('../fonts/tictac.svg#tictac') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tictac {
    font-family: "tictac";
}

body {
    font-family: 'museo_slab500';
}

.player {

}

.StartNewGame {
    margin-top: 1em;
}

.next_player:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    margin-left: -20px;
    display: block;
    float: left;
}

.winner {
    background: yellow;
}

.board-square {
    width: 80px;
    height: 80px;
    border-right: 3px solid black;
    display: table-cell;
    overflow: hidden;
    float: left;
    line-height: 40px;
}

.board-square:last-child {
    border-right: none;
}

.board-row {
    border-bottom: 3px solid black;
    display:block;
    width: 246px;
    height: 83px;
}

.board-row:last-child {
    border-bottom: none;
}

.square-content {
    padding: 10px;
    font-size: 32px;
    margin-top: 14px;
    text-align: center;
    display: block;
}

.game-over {
    font-family: 'Carter One';
    font-size: 36pt;
    color: #621;
    margin-top: 30px;
    position: absolute;
}

.play {
    font-family: "tictac";
    font-weight: bold;
    font-size: 36px;
}

.playable:hover {
    background: #ffc;
}



.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}


.popIn {
    animation-name: popIn;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;

    -webkit-animation-name: popIn;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-timing-function: ease -out;

    visibility: visible !important;
}

@keyframes popIn {
    0% {
        transform: translateY(100%) scaleX(0.5);
    }
    30%{
        transform: translateY(-8%) scaleX(0.5);
    }
    40%{
        transform: translateY(2%) scaleX(0.5);
    }
    50%{
        transform: translateY(0%) scaleX(1.1);
    }
    60%{
        transform: translateY(0%) scaleX(0.9);
    }
    70% {
        transform: translateY(0%) scaleX(1.05);
    }
    80%{
        transform: translateY(0%) scaleX(0.95);
    }
    90% {
        transform: translateY(0%) scaleX(1.02);
    }
    100%{
        transform: translateY(0%) scaleX(1);
    }
}

@-webkit-keyframes popIn {
    0% {
        -webkit-transform: translateY(100%) scaleX(0.5);
    }
    30%{
        -webkit-transform: translateY(-8%) scaleX(0.5);
    }
    40%{
        -webkit-transform: translateY(2%) scaleX(0.5);
    }
    50%{
        -webkit-transform: translateY(0%) scaleX(1.1);
    }
    60%{
        -webkit-transform: translateY(0%) scaleX(0.9);
    }
    70% {
        -webkit-transform: translateY(0%) scaleX(1.05);
    }
    80%{
        -webkit-transform: translateY(0%) scaleX(0.95);
    }
    90% {
        -webkit-transform: translateY(0%) scaleX(1.02);
    }
    100%{
        -webkit-transform: translateY(0%) scaleX(1);
    }
}


