{% extends "base.html" %}


{% block page_scripts %}
<script src="{{ STATIC_URL }}js/home.js" type="text/javascript"></script>
{% endblock page_scripts %}


{% block page_content %}
<div>
<button type="button" class="play-first btn btn-default">PLAY: I'd like to go first</button>
<button type="button" class="play-second btn btn-default">PLAY: I'll go second</button>
</div>
<p class="about-info">
The algorithm used for this project is just simple heuristics, but it gets the job done. While it would have been fun to implement a MinMax algorithm with alpha-beta pruning, it would have taken far more time than I had available to be able to finish in time. Furthermore, this allows for a much more RESTful mechanism instead of having to generate and manage a game tree and state space.

There is vast room for improvement in areas such as security, maintaining integrity of the state, and storing the state on server-side, but I very quickly ran out of time with how hectic things have been lately.
</p>
{% endblock page_content %}


