body{background:gray;height:99%} 

#wrap {margin-left:auto; margin-right:auto;margin-top:auto;background:white;}

.win,.n, .x,.o {float:left;border:1px inset white;background-repeat:no-repeat;background-size:0%;background-position:left;opacity:1;background-color:black;}

form, .nosee {width:0px;height:0px;display:none;}

.o { background-image:url(../img/o.jpg);}

.x{ background-image:url(../img/x.jpg);}
		 
.win{background-image:url(../img/xwin.jpg);}

