{% extends "base.html" %}

{% block content %}
  <div class="starter-template">
    <h2>About Unbeatable Tic-Tac-Toe</h2>
    <div>
      <h3>Developer</h3>
      <ul class="list-unstyled">
        <li>Danny Browne</li>
        <li>browne.danielc@gmail.com</li>
        <li><a href="https://github.com/dannybrowne86">GitHub</a></li>
        <li><a href="{{ STATIC_URL }}images/dbrowne.pdf">CV</a></li>
      </ul>
    </div>
    <div>
      <h3>Dependencies</h3>
      <ul class="list-unstyled">
        <li>django==1.6.2</li>
        <li>numpy==1.5.0</li>
      </ul>
    </div>
    <div>
      <h3>Libraries</h3>
      <ul class="list-unstyled">
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="http://plugins.jquery.com/cookie/">jQuery Cookie</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){  $('li[name="about_link"]').addClass('active'); });
</script>
{% endblock %}
