{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/play.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="starter-template">
    <h1>Unbeatable Tic-Tac-Toe</h1>
    <div><table>
      <tr>
        <div id="computer_div">
          <td><img class="legend" src="{{ STATIC_URL }}images/o.png" /></td>
          <td><h2></h2></td>
        </div>
      </tr>
      <tr>
        <div id="challenger_div">
          <td><img class="legend-img" src="{{ STATIC_URL }}images/x.png" /></td>
          <td><h2 class="form-inline">
            Challenger:
            <span id="player_name">Anonymous</span>
            <input id="player_name_input" class="form-control" type="text" style="display: none;"></input>
          </h2></td>
        </div>
      </tr>
    </table></div>
    <div>
      <table>
        <tr>
          <td class="cell bb br"></td>
          <td class="cell bl bb br"></td>
          <td class="cell bl bb"></td>
        </tr>
        <tr>
          <td class="cell bt bb br"></td>
          <td class="cell bl bt bb br"></td>
          <td class="cell bl bt bb"></td>
        </tr>
        <tr>
          <td class="cell bt br"></td>
          <td class="cell bl bt br"></td>
          <td class="cell bl bt"></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(
    function(){
      // set current page
      $('li[name="play_link"]').addClass('active');

      // handle hover on setting challenger name
      $('#challenger_div').mouseover(
        function () {
          if ($('#player_name').text() == 'Anonymous') {
            $('#player_name').css('display', 'none');
            $('#player_name_input').css('display', 'inline');
          }
        }
      );
      $('#challenger_div').mouseout(
        function () {
          if ($(document.activeElement).attr('id') == 'player_name_input'){
            // do nothing
          } else {
            $('#player_name').css('display', 'inline');
            $('#player_name_input').css('display', 'none');
          }
        }
      );
      $('#player_name_input').blur(
        function () {
          if( $('#player_name_input').val().length ){
            // set label
            $('#player_name').text( $('#player_name_input').val() );
            $('#player_name').css('display', 'inline');
            $('#player_name_input').css('display', 'none');

            // save to database
            $.post('/update/2/challenger/' + $('#player_name_input').val());
          }
        }
      );

      $('.cell').on('click',
        function (this) {
          TTT.mark_square(this);
        }
      );
    }
  );
</script>
{% endblock %}
