.playerImage.pull-left
    img(src="../images/player1.jpg")
    .div
        span Player 1
i.fa.fa-mail-reply.fa-5x.text-danger.pull-left(ng-show = "currentPlayer == 1")
.playerImage.pull-right
    img(src="../images/player2.jpg")
    .div
        span Player 2 
        .div 
            | (Computer for now maybe socket.io 2 player?)
i.fa.fa-mail-forward.fa-5x.text-danger.pull-right(ng-show = "currentPlayer == 2")
.gameBoard
    .gameRow(ng-repeat="row in game.gameBoard  track by $index",ng-class="{noBottomBorder: $index ===2}")
        .gameColumn.noLeftBorder(ng-click="move($index,0)")
            .gamePiece 
                img(src="../images/player{{game.gameBoard[$index][0]}}.jpg" ng-hide="game.gameBoard[$index][0] ===0")
        .gameColumn(ng-click="move($index,1)")
            .gamePiece
                img(src="../images/player{{game.gameBoard[$index][1]}}.jpg" ng-hide="game.gameBoard[$index][1] ===0")
        .gameColumn(ng-click="move($index,2)")
            .gamePiece
                img(src="../images/player{{game.gameBoard[$index][2]}}.jpg" ng-hide="game.gameBoard[$index][2] ===0")