.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.splashText {
	font-weight: bold;
	font-size: 1.75em;
	margin-top: 8em;
}
.splashButton {
	font-weight: bold;
	font-size: 1.5em;
	background-color: #3860e3;
	box-shadow: inset 0em 0.05em 0em 0em #97c4fe;
	border-radius: 0.33em;
	border: 0.075em solid #337fed;
	display: inline-block;
	color: #ffffff;
	padding: 0.25em 0.5em;
	margin: 0.5em;
	text-decoration: none;
}
.gameButton {
	display: inline-block;
	background-color: #f9f9fa;
	border-radius: 0.33em;
	margin: 0.5em;
	width: 5em;
	height: 5em;
}
.xMarker {
	color: red;
	font-weight: bold;
	font-size: 4em;
	margin: auto;
	padding: 0.05em;
}
.oMarker {
	color: blue;
	font-weight: bold;
	font-size: 4em;
	margin: auto;
	padding: 0.05em;
}
.blankMarker {
	color: #f9f9fa;
	font-weight: bold;
	font-size: 4em;
	margin: auto;
	padding: 0.05em;
}
.header {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 1.25em;
}
.status {
	margin-top: 1em;
	font-size: 2em;
	font-weight: bold;
}
a {
	text-decoration: none;
}
