{% load staticfiles %}
<html>
<head>
	<title>Tic-Tac-Toe</title>
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/libttt.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
</head>
<body>

<div id="container">
	<h1 id="title">Tic-Tac-Toe</h1>

	<div id="thinking_box">
		Thinking...
	</div>

	<div id="ttt_grid">
		<div id="row0">
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
		</div>
		<div id="row1">
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
		</div>
		<div id="row2">
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
			<div class="ttt_cell null_cell"></div>
		</div>
	</div>
</div>

</body>
</html>