{% load admin_static %}
{% load bootstrap %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" href="{% static "tictac/css/bootstrap.min.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "tictac/css/tictac.css" %}">

        <link rel="author" href="{% static "tictac/humans.txt" %}">
    </head>

    <body>
      <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="beginNewGame" aria-hidden="true">
        <form name="newGameForm" action="{% url 'tictac_new_game' %}" method="POST">
          {% csrf_token %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="beginNewGame">Would You Like to Play a Game?</h4>
              </div>

              <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6">

                        <div class="input-group">
                            {{ form.player1|bootstrap }}
                          <div class="input-group-btn">
                            <input name='player1_symbol' type='hidden' id='player1_symbol' value='0'>
                            <button  style="position: absolute; bottom:0;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="tictac" id="player1_selection">0</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><span data-input-target='player1_symbol' data-display-target='player1_selection' class="symbol-choices">|{% for c in symbol_choices %}<span class="tictac" data-value="{{c}}"> {{c}} |</span>{% endfor %}</span></li>
                            </ul>
                          </div>
                        </div>
                        <br>
                        {{ form.player1_auto|bootstrap }}



                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="input-group">
                            {{ form.player2|bootstrap }}
                          <div class="input-group-btn">
                            <input name='player2_symbol' type='hidden' id='player2_symbol' value='1'>

                            <button  style="position: absolute; bottom:0;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="tictac" id="player2_selection">1</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><span data-input-target='player2_symbol' data-display-target='player2_selection' class="symbol-choices">|{% for c in symbol_choices %}<span class="tictac" data-value='{{c}}'> {{c}} |</span>{% endfor %}</span></li>
                            </ul>
                          </div>
                        </div>
                        <br>
                        {{ form.player2_auto|bootstrap }}
                    </div>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Play!</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- main display -->

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <div class="col-md-8 col-xs-8 col-md-offset-1 col-xs-offset-1 title">TIC-TAC-TOE</div>
      </div>

      <!-- Board -->
        <div class="col-xs-12 col-md-10 col-md-offset-1 board-holder"></div>

      <!-- Javascript -->
        <script data-main="{% static "tictac/js/main.js" %}" src="{% static "tictac/js/require.js" %}"></script>


        <!-- BEGIN: template for # -->
        <script type="text/template" class="template">

        <div class="col-xs-12 col-md-12">
            <div class="board col-xs-12 col-md-6">
              <div class="col-xs-12 col-md-12">
                <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-0  <%- (attributes["game_over"]) ? "board-game-over":"" %>">
                <% _.each(attributes["state"], function( c, i ) {
                    var cols = attributes["columns"];

                    var symbol = c == " " ? c : attributes["players"][c]["symbol"];
                    var playable = (c == " ") && (attributes["playing"]) &&
                            (!attributes["game_over"]) ? "playable" : "notplayable"; %>
                    <% if ((i % cols) == 0) { %><div class="board-row row-<%- i / cols %>"><% } %>
                    <div data-position="<%- i %>" class="board-square <%- playable %>"><div class="square-content player<%- c %>"><div class="play"><%- symbol %></div></div></div>
                    <% if (((i+1) % cols ) == 0) { %></div><% } %>
                    <% }); %>
                  </div>
                </div>

                <% if ((attributes["game_over"]) || (attributes["playing"] == false)) { %>
                    <div class="start-new-game col-xs-12 col-md-12">
                    <button data-toggle="modal" data-target="#newGameModal" name="newGame" class="col-xs-12 col-md-6 btn btn-primary fadeIn col-xs-offset-0 col-md-offset-3">Start New Game</button>
                    </div>
                <% } %>
            </div>

            <div class="board col-xs-12 col-md-6">
                <% if (attributes["players"]) { %>
                    <% _.each(attributes["players"], function( player, i ) { %>
                        <div class="player">
                            <span class="player-label">Player <%- i+1 %></span>
                            <h3 class="player player<%- i %> <% if (i == attributes["next_player"]) {
                            if (attributes["has_winner"]) { %>winner<% } else { %>next_player<% }} %>"><%- player.name %> (<span class="tictac"><%- player.symbol %></span>)</h3>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>

        <% if (attributes["game_over"] == true) { %>

            <% if (attributes["has_winner"] == true) {
                winner_name = attributes["players"][attributes["next_player"]]["name"] + ' Wins';
            } else {
                winner_name = 'A Draw!';
            } %>

            <div class="col-xs-12 col-md-6 has-winner-overlay">
                <div class="popIn col-xs-8 col-md-8 col-md-offset-2 col-xs-offset-2">

                    <div class="has-winner-background" style="margin-left: -2px; margin-top: -1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: 0px; margin-top: -1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: 2px; margin-top: -1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: -2px; margin-top: 1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: 0px; margin-top: 1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: 2px; margin-top: 1px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: -2px;"><%- winner_name %></div>
                    <div class="has-winner-background" style="margin-left: 2px;"><%- winner_name %></div>
                    <div class="has-winner" style="margin-left: 1px;"><%- winner_name %></div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 game-over-overlay">
                <div class="popIn col-xs-8 col-md-8 col-md-offset-2 col-xs-offset-2">
                    <div class="game-over-background" style="margin-left: -2px; margin-top: -1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: 0px; margin-top: -1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: 2px; margin-top: -1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: -2px; margin-top: 1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: 0px; margin-top: 1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: 2px; margin-top: 1px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: -2px;">Game Over</div>
                    <div class="game-over-background" style="margin-left: 2px;">Game Over</div>
                    <div class="game-over" style="margin-left: 1px;">Game Over</div>
              </div>
            </div>
        <% } %>

        </script>
        <!-- END: # template definition -->

    </body>
</html>
