/* Styled HTML Tags */
a {
    color: #850e01;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
    background-image: url("default_background_tile.png");
}

h1 {
    font-size: 3em;
    color: ghostwhite;
    margin: 0em 0em .25em 0em;
}

h2 {
    font-size: 1.5em;
    color: ghostwhite;
    margin: 0em 0em .25em 0em;
}

p {
    color: lightgray;
    margin: 0em 0em 1em 0em;
}

td {
    color: gray;
}

form {
    border-radius: 5px;
    background-color: #2d2d2e;
    padding: .5em 1em .5em 1em;
    transition: all .5s;
}

form:hover {
    background-color: #39393a;
    transition: all .5s;
}

.errorlist{
    border-radius: 5px;
    background-color: darkred;
    color: ghostwhite;
    padding: .5em;
    margin: 1em 0em 0em 0em;
}

#main_content {
	padding: 1em 1em 1em 1em;
	margin: 5em 15em 5em 15em;
    background-color: #212122;
    border-radius: 5px;
}

#site_header {
    position: fixed;
    top: 5em;
    left: 0em;
}

#privacy_policy {}
