{% extends "skeleton.html" %}

{% block body %}
<div class="hull">
    
    <div class="hold">
    {% block page_content %}
    {% endblock page_content %}
    </div>

    <div class="topmast">
        <span class="title"><a href="/">&#123;&#35; Noughts and Crosses &#35;&#125;</a></span>
    </div>

    <div class="keel">
        <span class="footnote">
            <a class="author" href="//www.facebook.com/eggleton.bryce" target="_blank">&#123;&#123; author|bryce_eggleton &#125;&#125;</a>
            &nbsp;&nbsp;&nbsp;
            <a class="linkedin" href="//www.linkedin.com/pub/bryce-eggleton/84/850/713" target="_blank">&#123;&#37; profile author.LinkedIn &#37;&#125;</a>
        </span>
    </div>

</div>
{% endblock body %}


