<table width="246" class="ticBoard" border="2">
    <tr>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
    </tr>
    <tr>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
    </tr>
    <tr>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
        <td width="82"><a href="#"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
    </tr>

</table>
