<table width="246" class="ticBoard" border="2">
    {% for row in gameObj.gameBoard %}
    <tr>
        {% for column in row %}
            {% if column == ' ' %}
                <td width="82"><input type="image" src="{{ STATIC_URL }}images/tic_blank.png" /></td>
            {% endif %}
            {% if column == 'X' %}
                <td width="82"><img src="{{ STATIC_URL }}images/tic_X.png" /></td>
            {% endif %}
            {% if column == 'O' %}
                <td width="82"><img src="{{ STATIC_URL }}images/tic_O.png" /></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
