<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="Edge">
        <link rel="stylesheet" href="http://slo.me/tic/css/tic.css">
</head>
	<div id='wrap'>
	 {% for field in form %}
                <div class="{{field.value}}"  id="{{field.name }}"  >
                </div>
        {% endfor %}

	</div>
		
	<form  action="" method="post">
	{% csrf_token %}
	{% for field in form %}
		<input  "type=hidden"  name="{{field.name}}" class="{{field.value}}" value="{{field.value}}"/>
		
	{% endfor %}
		
	</form>
	
	<script src="http://slo.me/tic/js/tic.js">
	</script>
	<script>
		{% if pick %}
			tic.setsquare("{{pick}}",tic.xplayer)
			document.forms[0]["{{pick}}"].value=tic.xplayer	
			tic.addclicks()
		 {% endif %}
			nNodes=document.querySelectorAll('div.n')
			if (nNodes.length==0){
				cascade.reset()
			}	
		 {% if wingroup|length == 3 %}
			 {% for wg in wingroup %}
				tic.setsquare("{{wg}}"," win ")
			 {% endfor %}
				tic.rmclicks()
				cascade.reset()			
		{% endif %}
		
		{% if freshboard %}
			tic.init()
			cascade.all(tic.squares)
		{% endif %} 						
     </script>  
