#board { max-width: 400px; margin-top: 50px; }
#board .square { height: 100px; text-align: center; font-size: 3em; padding-top: 4.5%; color: #DB5D35; }

#board .square:hover { height: 100px; cursor: pointer; background: #D3AB3C; }
#board #top .square{ border-bottom: solid 3px #025463; }
#board .left { border-right: solid 3px #025463; }
#board .right { border-left: solid 3px #025463; }
#board #bottom .square{ border-top: solid 3px #025463; }

button .close {
    float: none;
}
