body 	{
	font-family:	tahoma, verdana, arial, helvetica, sans-serif;
	font-size:	12pt;
	}


#header {
font-size:	20.5pt;
text-align:	center;
}



#footer {
    font-size:	10pt;
    text-align:	center;    
}


.cell {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #000;
    font-size: 90px;
    text-align: center;
}


.buttoncell{
    width: 100px;
    height: 100px;
    float: left;
    /*text-align: center;*/
}

.clear {
    clear: both;
}


