<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>Tic-Tac-Tyranny</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
</head>
<body>

<div class="legend_container">
    <div class="legend">Player:</div>
    <div class="legend"><img src="{% static "img/blue_o.png" %}" height="20" width="20"/></div>
    <div></div>
    <div class="legend">Opponent:</div>
    <div class="legend"><img src="{% static "img/red_x.png" %}" height="20" width="20"/></div>
</div>

<div class="grid">
    <div>
        <div id="a1" class="cell left with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="b1" class="cell middle with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="c1" class="cell right with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
    </div>
    <div>
        <div id="a1" class="cell left with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="b1" class="cell middle with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="c1" class="cell right with_bottom"><img src="{% static "img/blank.png" %}" name="blank"/></div>
    </div>
    <div>
        <div id="a1" class="cell left"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="b1" class="cell middle"><img src="{% static "img/blank.png" %}" name="blank"/></div>
        <div id="c1" class="cell right"><img src="{% static "img/blank.png" %}" name="blank"/></div>
    </div>
</div>

</body>
</html>