{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>

    <title>Tic-Tac-Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Includes -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/tictactoe.css" %}" rel="stylesheet" media="screen">

  </head>

  <body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="{% url 'home' %}">Tic-Tac-Toe</a>
    <p class="navbar-text navbar-right">
      <a href="{% url 'end-game' %}" class="navbar-link btn btn-default">End Game</a>
    </p>
  </nav>

  <div class="container">

    {% if messages %}{% for message in messages %}
    <div class="row">
      <div class="alert alert-{{ message.tags }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}{% endif %}

    {% include "board.html" %}

    <form action="{% url "select-piece" %}" method="POST" id="selection-form">
      {% csrf_token %}
    </form>

  </div>

  <!-- JavaScript Includes -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="{% static "js/app.js" %}"></script>

  </body>
</html>