{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <title>Tic-Tac-Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Includes -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/tictactoe.css" %}" rel="stylesheet" media="screen">

  </head>

  <body>

  <div class="container">

    <div class="page-header">
      <h1>
        Tic-Tac-Toe 
        <small>Three in a Row</small>
      </h1>
    </div>

    {% include "board.html" %}

    <div class="row center-block">
      <div class="input-group">
        <span class="input-group-addon">Status</span>
        <input type="text" class="form-control" placeholder="Thinking..." disabled id="status-message">
      </div>
    </div>

  </div>

    <!-- JavaScript Includes -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>

  </body>
</html>