<div class="row">
  <table id="game-table" class="table table-bordered text-center">
    <tbody>

      <!-- Top Row -->
      <tr>
        <td class="piece-box" id="top_left" data-piece="{{ board.top_left }}"></td>
        <td class="piece-box" id="top_center" data-piece="{{ board.top_center }}"></td>
        <td class="piece-box" id="top_right" data-piece="{{ board.top_right }}"></td>
      </tr>

      <!-- Center Row -->
      <tr>
        <td class="piece-box" id="left" data-piece="{{ board.left }}"></td>
        <td class="piece-box" id="center" data-piece="{{ board.center }}"></td>
        <td class="piece-box" id="right" data-piece="{{ board.right }}"></td>
      </tr>

      <!-- Bottom Row -->
      <tr>
        <td class="piece-box" id="bottom_left" data-piece="{{ board.bottom_left }}"></td>
        <td class="piece-box" id="bottom_center" data-piece="{{ board.bottom_center }}"></td>
        <td class="piece-box" id="bottom_right" data-piece="{{ board.bottom_right }}"></td>
      </tr>

    </tbody>
  </table>
</div>