{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}" />
{% endblock %}

{% block content %}
    <div id="gameboard">
        <h1>Tic-Tac-Toe: The Crucible</h1>
        <div class="row">
            <div id="cell-0:0" class="cell active"></div>
            <div id="cell-0:1" class="cell active"></div>
            <div id="cell-0:2" class="cell active"></div>
        </div>
        <div class="row">
            <div id="cell-1:0" class="cell active"></div>
            <div id="cell-1:1" class="cell active"></div>
            <div id="cell-1:2" class="cell active"></div>
        </div>
        <div class="row">
            <div id="cell-2:0" class="cell active"></div>
            <div id="cell-2:1" class="cell active"></div>
            <div id="cell-2:2" class="cell active"></div>
        </div>
    </div>
    <div id="narrative">
        Greetings, Human. Do you wish to face the perils of The Crucible? The buy in is cheap, 
        but the stakes are high! Surely you can best me. C'mon, give it a try! I'll even let 
        you decide who goes first. Such is my generosity.

        <div id="choices">
            <input id="player_first" type="submit" value="I'll go first." disabled="disabled" />
            <input id="ai_first" type="submit" value="Computers first!" />
            <script>
                $('player_first').addEventListener('click', function() {
                    require(['game'], function(game) {
                        game.board.playerFirst();
                    });
                });

                $('ai_first').addEventListener('click', function() {
                    require(['game'], function(game) {
                        game.board.aiFirst();
                    });
                });

            </script>
        </div>
    </div>
{% endblock %}
