<!DOCTYPE html>

<html>
<head>
  <link href="{{ STATIC_URL }}css/tictactoe.css" rel="stylesheet" type="text/css">
</head>
<body class="
    {% if game_is_over %}
    game-end
    {% elif board_is_empty %}
    game-start
    {% endif %}">

<div id="header">
  {% if game_is_over %}
    <div class="game-end">
    <h1>
      Game Over:
      {% if winner == NAUGHT %}
        <span>O</span> Wins!
      {% elif winner == CROSS %}
        <span>X</span> Wins! <!-- never gonna happen -->
      {% else %}
        It's a Draw!
      {% endif %}
    </h1>
    <h2><a href="{% url 'play-game' %}">Play again</a></h2>
    </div>

  {% elif board_is_empty %}
    <h1 class="game-start">Make the first mark</h1>
  {% endif %}
</div>

  <form action="{% url "make-mark" %}" method="post" id="board">
    {% csrf_token %}

    {% for row in cells %}
      <div>
      {% for idx, val in row %}
        <span class="cell">
        {% if val == EMPTY and not game_is_over %}
          <button type="submit" name="cell" value="{{ idx }}"><span>X</span></button>
        {% elif val == CROSS %}
        X
        {% elif val == NAUGHT %}
        O
        {% endif %}
        </span>
      {% endfor %}
      </div>
    {% endfor %}
  </form>

<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/tictactoe.js"></script>

</body>
</html>
