<html>
<head>
  <style type="text/css">
    div span {
      float: left;
      width: 40px;
      line-height: 60px;
      text-align: center;
      border: 1px solid;
    }
    div {
      clear: both;
    }

  </style>
</head>
<body></body>
</html>

<form action="{% url "make-mark" %}" method="post">
  {% csrf_token %}
  <div>
  {% for idx, val in cells %}
    <span class="{% if val == NAUGHT%}naught{% elif val == CROSS %}cross{% endif %}">
    {% if val == EMPTY %}
      <input type="submit" name="cell" value="{{ idx }}"/>
    {% elif val == CROSS %}
      X
    {% elif val == NAUGHT %}
      O
    {% endif %}
    </span>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div>
    {% endif %}

  {% endfor %}
  </div>
</form>