<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Tic Tac Toe</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".tictactoe_button").click(function() {
                    //$(".tictactoe_button").prop('disabled', true);
                    $(this).html("X");
                    check_for_win();
                    check_for_draw();
                });
            });

            get_board = function() {
                var board = [[" ", " ", " "], [" ", " ", " "], [" ", " ", " "]];

                for(y=0;y<=2;y++) {
                    for(x=0;x<=2;x++) {
                        var button_id = "#" + x + "_" + y;
                        var square = $(button_id + ".tictactoe_button ").html();
                        square = square.replace("&nbsp;", " ");
                        board[x][y] = square;
                    }
                }

                return board;
            }

            set_board = function(board) {
                console.log(board);
                for(y=0;y<=2;y++) {
                    for(x=0;x<=2;x++) {
                        var button_id = "#" + x + "_" + y;
                        var square = board[x][y];
                        square = square.replace(" ", "&nbsp;");
                        $(button_id + ".tictactoe_button ").html(square);
                    }
                }
            }

            check_for_draw = function() {
                var board = JSON.stringify(get_board());
                var result;
                $.ajax({
                    type: "GET",
                    url: "/is-draw",
                    data: {layout: board},
                    contentType: "application/json; charset=utf-8",
                    async: "false",
                    success: function(data) {
                        result = data;
                        if(data == "False") {
                            return false;
                        } else {
                            $(".tictactoe_button").attr("disabled", "disabled");
                            alert("Oh, all right, we'll call it a draw.");
                        }
                    },
                });
                return result;
            }

            check_for_win = function() {
                var board = JSON.stringify(get_board());
                var result;
                $.ajax({
                    type: "GET",
                    url: "/is-win",
                    data: {layout: board},
                    contentType: "application/json; charset=utf-8",
                    async: "false",
                    success: function(data) {
                        result = data;
                        if(data == '') {
                            return false;
                        } else {
                            $(".tictactoe_button").attr("disabled", "disabled");
                            if(data == 'player') {
                                alert("You win.");
                            } else {
                                alert("I win!");
                            }
                        }
                    },
                });
                return result;
            }

            ai_move = function() {
                var board = JSON.stringify(get_board());
                $.ajax({
                    type: "GET",
                    url: "/ai-move",
                    data: {layout: board},
                    contentType: "application/json; charset=utf-8",
                    async: "false",
                    success: function(data) {
                        var board = JSON.parse(data);
                        set_board(board);
                    }
                });
            }
    </script>
    </head>
    <body>
        <div id="board" board_layout='[[" ", " ", " "], [" ", " ", " "], [" ", " ", " "]]'>
            {% for row in layout %}
                {% set row_number=loop.index - 1 %}
                {% for box in row %}
                    {% if loop.index % 3 == 1 %}
                        <br />
                    {% endif %}
                    <button class="tictactoe_button" id="{{ (loop.index - 1) % 3 }}_{{ row_number }}" style="width:200px;height:200px;font-size:10em;">&nbsp;</button>
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>
