{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />

    <title>Tic Tac Toe!</title>
</head>
<body>

    <div class="header">
            <h1>Tic Tac Toe!</h1>
        </div>

    <div id="main-section">
        <div id="message">Your turn!</div>
        <div id="board">
            <div id="box1"></div>
            <div id="box2"></div>
            <div id="box3"></div>
            <div id="box4"></div>
            <div id="box5"></div>
            <div id="box6"></div>
            <div id="box7"></div>
            <div id="box8"></div>
            <div id="box9"></div>
        </div>
    </div>

<script type="text/javascript">

var canClick = true;

function updateBoard(data) {

    var game_state = '';
    var winner = '';
    var message = '';

    for (var key in data) {

        var val = data[key];

        if(key.substr(0, 3) == "box") {
            $("#" + key).empty();
            if(val == 'X')
                $("#" + key).prepend('<img src="{% static 'game/images/X.jpg' %}" />');
            else if(val == 'O')
                $("#" + key).prepend('<img src="{% static 'game/images/O.jpg' %}" />');
        }

        if(key == 'game_state')
            game_state = val;
        if(key == 'winner')
            winner = val;
        if(key == 'message')
            message = val;
    }

    if(game_state == 'OVER') {
        if(winner == 0)
            winner = 'You have won!';
        else if(winner == 1)
            winner = 'The Computer has beat you!';
        else
            winner = 'The game is a draw!';

        $("#message").html(winner);
    }
    else
        $("#message").html(message);
}

$(document).ready(function() {

    updateBoard({{ context|safe }});

    $("#board div").click(function() {
        var box = this;

        if(canClick) {
            canClick = false;
            var url = "{% url 'ajax_make_move' box_choice=12345 %}".replace(/12345/,  $(box).attr('id').substring(3,4));
            $.getJSON(url, function( data ) {
                updateBoard(data);
                canClick = true;
            });
        }
    });



});


</script>

</body>
</html>