<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <title>Tic Tac Toe!</title>
</head>
<body>
    <div class="header">
        <h1>Tic Tac Toe!</h1>
    </div>

    <div id="main-section">
        <h2>Play a new game of Tic Tac Toe?</h2>
        <div id="yes-no">
            <form action="{% url 'launch' %}">
                <input type="submit" value="Yes!" />
            </form>
            <button id="no-button">No!</button>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function() {
        $("#no-button").click(function() { window.location.href = "http://www.oprah.com/index.html"});
    });

</script>


</body>
</html>