<!DOCTYPE HTML>
<html>
<head>
  <title>Flask-SocketIO Test</title>
  <script src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script charset="utf-8">
    $(document).ready(function(){
      namespace = '';

      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
      socket.on('connect', function() {
        socket.emit('connect');
      });

      // Log messages sent from server
      socket.on('server msg', function(msg) {
        $('#log').append('<br>Recv\'d Msg #<em>' + msg.count + ': ' + msg.data + '</em>');
        if (msg.xo_choice !== undefined) {
          $('form#move input[name="xo_choice"]').val(msg.xo_choice);
        }
        if (msg.game_id !== undefined) {
          $('form#move input[name="game_id"]').val(msg.game_id);
        }
        if (msg.board !== undefined) {
          $('#log').append('<br>Board State: <em>' + msg.board + '</em>');
        }
      });
      socket.on('server taunt', function(msg) {
        $('#log').append('<br><em>' + msg.data + '</em>');
      });

      $('form#join').submit(function(event) {
        socket.emit('join', {game_id: $('#join_game').val()});
        return false;
      });
      $('form#leave').submit(function(event) {
        socket.emit('leave', {game_id: $('#leave_game').val()});
        return false;
      });
      $('form#move').submit(function(event) {
        socket.emit('move', {
          game_id: $('#game_id').val(),
          player: $('#xo_choice').val(),
          square: $('#square').val()});
        return false;
      });
    });
  </script>
</head>
<body>
  <h1>websocket game commands</h1>
  <form id="join" method='POST' action='#'>
    <input type="text" name="join_game" id="join_game" placeholder="Game ID">
    <input type="submit" value="Join Game">
  </form>
  <form id="leave" method='POST' action='#'>
    <input type="text" name="leave_game" id="leave_game" placeholder="Game ID">
    <input type="submit" value="Leave Game">
  </form>
  <form id="move" method='POST' action='#'>
    <input type="hidden" name="game_id" id="game_id">
    <input type="hidden" name="xo_choice" id="xo_choice">
    <input type="text" name="square" id="square" placeholder="Square #">
    <input type="submit" value="Make Move">
  </form>
  <h1>log</h1>
  <div id="log"></div>
</body>
</html>
