
body
{
  font-family: "verdana", "arial", "helvetica", sans-serif;
  font-size: 10pt;
  margin: 0;

  color: white;
  background: #003300;
}

.navigation
{
  position: relative;
}

.navigation a
{
  color: #ffd700;
}

.navigation .tagline
{
  font-style: italic;
}


h1
{
  margin: 0;
  margin-bottom: 10px;
}


#navData
{
  position: absolute;
  right: 10px;
  top: 10px;
}

#navBar
{
  background: black;
  margin: 0;
}

#navLinks,
#navLinks ul,
#navLinks li
{
  display: inline;
}
#navLinks li
{
  margin-left: 20px;
}

#newGame,
#newGame form
{
  /* position: absolute;
  right: 10px;
  bottom: 10px;
   */
  display: inline;
}



#header, #content, #footer, #navBar
{
  padding: 10px;
  border-top: solid #002800 5px;
}

#content
{
  background: white;
  color: black;
}

#content h2
{
  color: #002800;
  border-bottom: solid #ffd700 2px;
}

.tagline, #footer
{
  color: silver;
}



table
{
  border-collapse: collapse;
  border-spacing: 0;
  border: solid silver 1px;
}

td
{
  border: dotted silver 1px;
  text-align: center;
  vertical-align: middle;
}

th
{
  background: silver;
  padding: 5px;
}


.GameBadge
{
  float: left;
  margin-right: 10px;
}

.badges br
{
  clear: both;
}



.GameBadge td
{
  width: 15px;
  height: 15px;
  font-size: 10pt;
}

.GameBadge table :hover
{
  cursor:pointer;
}

.GameBadge .VsString
{
  font-size: 60%;
}


.GameBoard td
{
  width: 25px;
  height: 25px;
  font-size: 10pt;
}
.GameBoard .VsString
{
  display: none;
}
.GameBoard
{
  margin-bottom: 10px;
}



td.empty
{
  color: white;
}

.X
{
  font-weight: bold;
  color: #b22222;
}

.O
{
  font-weight: bold;
  color: blue;
}

.aside
{
  color: gray;
  font-style: italic;
  display:block;
}

label
{
  display: block;
}

#navBar label
{
  display: inline;
}
