#main_content {
	max-width: 50%;
	margin-left: 15em;
    margin-top: 5em;
    font-size: .8em;
}

#privacy_policy {
    border-radius: 5px;
    background-color: #2d2d2e;
    padding: .5em 1em .5em 1em;
    margin-top: 2em;
}

footer {
	font-size: small;
	padding: .1em 1em 1em 1em;
	background-color: gray;
	color: white;
	margin: 2em 0em 2em 0em;
}

#user_profile div{
	border-bottom: thin;
	border-bottom-color: #E5E5E5;
	border-bottom-style: solid;
	padding: .25em;
}

#user_profile div > p {
	display: inline-block;
	margin: .25em
}

.errorlist {
	padding: .25em 0em .25em 1.5em;
	margin: 0em 60% 0em 1em;
}

.align_contents_at_top * {
	vertical-align: top;
}