{% extends "master.html" %}
{% block body_content %}

    {% if msg %}
      <p>{{msg}}</p>
    {% endif %}

    {% if game.isWon %}
      <h2>{{ game.last_player }} has won!</h2>
    {% elif game.isDrawn %}
      <h2>Game is drawn.</h2>
    {% endif %}

    <table class="tictactoe">
    {% for row in rows %}
      <tr>
        {% for position,square in row %}
          <td>
            {% if square == "-" %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="player" value="X" />
                <input type="hidden" name="position" value="{{ position }}" />
                {% if not game.isFinished %} <input type="submit" value="Play" /> {% else %} &nbsp; {% endif %}
              </form>
            {% else %}
              {{ square }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

{% endblock %}
