<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> 
	<title>{% block title %}Tic-Tac-Taco{% endblock %}</title> 
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/bootstrap3.css">
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/style.css">
</head>

<body>
	<nav class="navbar navbar-inverse" role="navigation">
		<a class="navbar-brand" href="#">Tic Tac Taco</a>
		<button type="button" class="btn btn-inverse navbar-btn pull-right">New Game</button>
	</nav>
    <div id="container">
        <div id="menu">
            {% block nav-global %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>