<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> 
	<title>{% block title %}Tic-Tac-Toe for Taco{% endblock %}</title> 
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/bootstrap3.css">
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <ul>
                	<h3>MyBlog</h3>
	                <li><a href="/">Home</a></li>
                	<li><a href="/">New Game</a></li>
				</ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>