doctype html
html
    head
        title Paul's Tic-Tac-Toe Game
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Indie+Flower" type="text/css")
    body(ng-app='tttApp')
        block main-content
        include scripts