{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="col-md-12 brd">
            <div class="center-block placeholder">
                <h1>Tic-Tac-Toe</h1>
                <p>Would you like to play a game?</p>
                <form method="POST">
                    {% csrf_token %}
                    <input name="player1" type="hidden" value="human"/>
                    <input name="player2" type="hidden" value="game.players.AIPlayer"/>
                    <button type="submit">Play against a dumb computer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
