{% extends "base.html" %}
{% load i18n %}

{% block content %}

  <div class="row">
    <div class="span6">
      <table class="board" width="100%">
        <tbody>
          <tr>
            <td width="33%" class="right bottom">
              <div class="bigtext"><div class="square">{{ cell.0 }}</div></div>
            </td>
            <td width="33%" class="right bottom">
              <div class="bigtext"><div class="square">{{ cell.1 }}</div></div>
            </td>
            <td width="33%" class="bottom">
              <div class="bigtext"><div class="square">{{ cell.2 }}</div></div>
            </td>
          </tr>
          <tr>
            <td width="33%" class="right bottom">
              <div class="bigtext"><div class="square">{{ cell.3 }}</div></div>
            </td>
            <td width="33%" class="right bottom">
              <div class="bigtext"><div class="square">{{ cell.4 }}</div></div>
            </td>
            <td width="33%" class="bottom">
              <div class="bigtext"><div class="square">{{ cell.5 }}</div></div>
            </td>
          </tr>
          <tr>
            <td width="33%" class="right">
              <div class="bigtext"><div class="square">{{ cell.6 }}</div></div>
            </td>
            <td width="33%" class="right">
              <div class="bigtext"><div class="square">{{ cell.7 }}</div></div>
            </td>
            <td width="33%">
              <div class="bigtext"><div class="square">{{ cell.8 }}</div></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <p><div class="well">
        <a class="btn btn-large" href="/">
          <i class="icon-play"></i>
          {% trans "Play first in new game as X" %}
        </a>
      </div></p>
      <p><div class="well">
        <a class="btn btn-large" href="/">
          <i class="icon-play"></i>
          {% trans "Play second in new game as O" %}
        </a>
      </div></p>
      <p><div class="well">
        <h3>{% trans "Statistics" %}</h3>
        <h4>{{ played }} games played</h4>
        <h4>{{ won }} won</h4>
        <h4>{{ tied }} tied</h4>
        <h4>{{ lost }} lost</h4>
      </div></p>
    </div>
  </div>

{% endblock %}
