{% extends "localcore/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head_static %}
    <script src="{% static 'game/js/game.js' %}"></script>
    <link href="{% static 'game/css/game.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <form id="ticForm" method='POST' action="">{% csrf_token %}
        <table id="ticTable" class="table table-bordered">
            <tbody>
                <tr>
                    {% for field in form %}
                        
                        {% if forloop.counter0 == 3 or forloop.counter0 == 6 %}
                        </tr><tr>
                        {% endif %}

                        <td {% if field.value == 0 %}class="active_cell"{% endif %}>
                            {% if field.value == 1 %}
                                X
                            {% elif field.value == 2 %}
                                O
                            {% endif %}
                            {{field}}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </form>

<!--     <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header jumbotron">
                <h1>This is a header<small>Small Header</small></h1>
            </div>
        </div>
    </div> -->
{% endblock %}