<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">New Game</a></li>
      </ul>
      <h3 class="text-muted">Tic Tac Toe</h3>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-6 col-xs-offset-3 game-board">
    <div class="row">
      <div class="col-xs-4 game-row-1 game-col-A">
        {{ board.A1 }} X
      </div>
      <div class="col-xs-4 game-row-1 game-col-B">
        {{ board.B1 }}
      </div>
      <div class="col-xs-4 game-row-1 game-col-C">
        {{ board.C1 }} O
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 game-row-2 game-col-A">
        {{ board.A2 }}
      </div>
      <div class="col-xs-4 game-row-2 game-col-B">
        {{ board.B2 }} X
      </div>
      <div class="col-xs-4 game-row-2 game-col-C">
        {{ board.C2 }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 game-row-3 game-col-A">
        {{ board.A3 }} O
      </div>
      <div class="col-xs-4 game-row-3 game-col-B">
        {{ board.B3 }}
      </div>
      <div class="col-xs-4 game-row-3 game-col-C">
        {{ board.C3 }} X
      </div>
    </div>
  </div>

</div>

