{# Home Page #}
{% extends 'tictactoe/base.jinja2' %}
{% block body_title %}Let's Play Tic-Tac-Toe{% endblock %}

{% block text %}
<ul class='play-buttons'>
    <li><a href="#" class="btn btn-lg btn-primary">Go First (X)</a></li>
    <li><a href="#" class="btn btn-lg btn-primary">Go Second (O)</a></li>
</ul>
{% endblock %}

