@import 'constants';
@import 'topmast';
@import 'keel';

.hull {
	width: 100%;
	height: 100%;
	padding-top: @topmast-height;
	padding-bottom: @keel-height;
	color: @text-light;

	background-color: @base-color-medium;
}


