{% extends "base.html" %}

{% block content %}
<div>Let's play Tic Tac Toe</div>
<table class="board">
  <tr>
    <td><a id="0" name="move" href="#" ></a></td>
    <td><a id="1" name="move" href="#" ></a></td>
    <td><a id="2" name="move" href="#" ></a></td>
  </tr>
  <tr>
    <td><a id="3" name="move" href="#" ></a></td>
    <td><a id="4" name="move" href="#" ></a></td>
    <td><a id="5" name="move" href="#" ></a></td>
  </tr>
  <tr>
    <td><a id="6" name="move" href="#" ></a></td>
    <td><a id="7" name="move" href="#" ></a></td>
    <td><a id="8" name="move" href="#" ></a></td>
  </tr>
</table>
{% endblock %}
