<!DOCTYPE html>
<!-- code by Hao Lu --->
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1><center>Tic tac toe</center></h1>
        
		<form action="" method="post">{% csrf_token %}
	 <p><center><button type="submit" name="Igo" value="yes" > I go first </a></button> </center></p> 
	  <p><center><button type="submit" name="Cgo" value="yes" > Computer go first</a></button><center></p>
<p style="color: blue; position: absolute; bottom:10px;right:10px;">Design and created by Hao Lu, if you have any problems contact luha@indiana.edu</p>	  
 </form>
    </body>

</html>